[2015-11-15 00:00] sckott opened #1 "pkg name change?"
could stick with `vcr`, but there's probably lots of good options given the use case, and vcr/cassette/etc. terms involved

[2015-11-29 20:21] sckott commented on #1
meh, would need to change the related internal method names to match, too much trouble

[2015-11-29 20:21] #1 closed

[2016-02-13 07:23] sckott opened #2 "Get to working mvp"
clean out things that arent ruby translated yet, replace with minimal features needed

[2016-02-13 07:29] sckott commented on #2
CaN probably drop erb dynamic stuff for now. ..

[2016-03-30 00:47] sckott opened #3 "Add vignette"

[2016-03-30 00:47] sckott opened #4 "Add test suite"

[2016-03-31 19:09] sckott opened #5 "vcr/ dir in tests/testthat/ should work for testing"

[2016-04-11 18:29] sckott opened #6 "testing things"
![keanumovie-gangsta-keanu-movie-l2JJvDhbnoSU9e2hW](https://media3.giphy.com/media/l2JJvDhbnoSU9e2hW/giphy.gif)

[2016-04-11 18:29] sckott commented on #6
yep, dems da shit

[2016-04-11 18:29] #6 closed

[2016-04-11 20:06] sckott opened #7 "Change vcr_configure to an R6 class"
keep all config vars in the class, and avoid env vars/R options

[2016-04-11 22:12] #7 closed

[2016-04-17 06:14] sckott opened #8 "date not being correctly inserted into httr::response creation"

[2016-04-17 15:07] sckott opened #9 "Still need to sort out insert/eject story"
`use_cassette()` works, but insert then eject not sure how that's supposed to work yet, few Ruby vcr examples

[2016-04-17 18:19] sckott opened #10 "Logging isn't working"
using `loggr`, but only seems to work when turned on during the R session after loading `vcr` - the `.onLoad` stuff for `loggr` isn't working

[2016-04-17 21:02] sckott opened #11 "Figure out how to get request headers without executing request"
...

[2016-04-17 22:59] sckott commented on #11
blarg, lots of non-exported functions from `httr` would be needed to construct request headers - try simpler functionality: see if user passes any headers, if so combine with the default `Accept: application/json, text/xml, application/xml, */*`, and if no headers passed, just use the previous accept thing

[2016-10-02 02:29] sckott opened #12 "How to capture http requests"
I apparently still don't understand how Ruby `webmock` and friends do this. I assume that they open up a socket and listen for http requests, but I don't know. Seems each library `webmockr` supports has a separate handler in `lib/webmock/http_lib_adapters/`

[2016-10-02 02:30] sckott commented on #12
same goes for `ropenscilabs/webmockr`

[2017-05-22 00:24] #12 closed

[2017-05-22 00:25] sckott commented on #11
not doing httr right now, anyway, closing

[2017-05-22 00:25] #11 closed

[2017-08-01 00:44] sckott commented on #8
later, as starting off with `crul` support first

[2018-01-24 03:20] sckott opened #14 "Recording new requests but w/ empty body response"
not sure whats going on yet

[2018-01-24 03:21] sckott commented on #14
with record mode default to `once` - it shouldn't re-record the request with empty string

[2018-01-30 20:33] sckott opened #15 "http status is not being recorded correctly"
not sure what gives yet

keeps giving `~` as the output, some internal code is indexing incorrectly i imagine

[2018-01-30 20:37] sckott opened #16 "`use_cassette` is recording more than once when `record="once"`"

[2018-01-31 00:24] sckott opened #17 "When user gets a cassette make sure to initialize to get anything on disk already"
e.g., right now `cassette_current()` wasn't fetching any info on disk, need to run init the cassette class to make sure we grab that if it exists

[2018-02-17 07:04] sckott opened #18 "may need to submit to cran before next webmockr ver"

[2018-02-26 12:40] maelle opened #19 "add link to a pkg repo using vcr for testing"
to show an example, e.g. in the README say "you can see `vcr` in action for testing in foo"

[2018-02-26 14:58] maelle commented on #19
Ok then I volunteer 🙋 , just get prepared to get many questions.

[2018-02-26 15:35] maelle opened #20 "add link to a pkg repo using vcr for a vignette"
:-)

[2018-02-28 11:04] maelle opened #21 "cassette_path"
I'd expect `cassette_path` to change depending on what I've configured. But currently it doesn't because it just returns a string.

[code]

[2018-02-28 11:11] maelle commented on #21
I guess `cassette_path()` could just be `vcr_configuration()$dir` but in this case the default in `vcr_configure` shouldn't be for dir to be `cassette_path()`.

I even wonder whether there should be a default dir at all?

[2018-02-28 11:44] maelle commented on #21
Oops, I just needed to not use the master branch, sorry.

[2018-02-28 11:44] #21 closed

[2018-02-28 19:53] #2 closed

[2018-02-28 19:53] sckott commented on #4
in progress, but is there now, closing

[2018-02-28 19:53] #4 closed

[2018-03-02 18:25] sckott opened #22 "add fxn: use_cassettes"
[code]

[2018-03-02 20:05] sckott opened #23 "maybe record `times` in cassettes"
[code]

right now we don't record this stuff, maybe should to more accurately replicate real response

[2018-03-02 22:52] #18 closed

[2018-03-02 22:53] sckott commented on #16
fixed for now

[2018-03-02 22:53] #16 closed

[2018-03-02 23:05] sckott opened #24 "insert_cassette when used alone: isn't behaving correctly"
not stubbing requests as it should ...

[2018-03-03 00:33] sckott commented on #15
fixed

[2018-03-03 00:33] #15 closed

[2018-03-03 00:33] sckott commented on #9
closed in favor of #24

[2018-03-03 00:33] #9 closed

[2018-03-03 00:53] sckott opened #25 "provide option to suppress all messages"

[2018-03-06 23:58] sckott commented on #8
AFAICT this is fine now

[2018-03-06 23:58] #8 closed

[2018-03-07 00:43] sckott opened #26 "eject cassette should return cassette info and the data on disk"
not FALSE or whatever is rutned irhgtnow

[2018-03-07 03:21] sckott opened #28 "make update_content_length_header actually work"

[2018-03-08 00:45] sckott opened #29 "VcrResponse class: make sure to get details right for content length headers"
see rfc7230 https://tools.ietf.org/html/rfc7230#section-3.3.2

not clear how Ruby `vcr` handles it when there is no content length header, e.g., if the payload is compressed, there I think won't be a content length header

[2018-03-08 01:16] sckott opened #30 "VcrResponse: fix decompress fxn, and associated decode_compressed_response config var"
`VcrResponse` `decompress` fxn just commented out for now

[2018-03-10 07:12] #28 closed

[2018-03-11 15:57] sckott commented on #26
started on this in 6934f037d1c9b8ac110d14b6beb233558fe28dc5

[2018-03-11 15:59] sckott opened #31 "Fix functions in lightswitch file"
`turn_on()`, `turned_on()`, `turn_off()`, `turned_off()`

[2018-03-11 16:00] sckott opened #32 "Implement new JSON serializer"
as an alternative to YAML

[2018-03-11 16:01] sckott opened #33 "Make small example repo as a project to show vcr functionality in a project"

[2018-03-11 16:42] sckott commented on #14
fixed

[2018-03-11 16:42] #14 closed

[2018-03-14 20:25] sckott opened #34 "Serializing response body to cassette is failing in some cases"
In some cases vcr is returning `.na.character` as the string in the body response. Seems that a first run with `use_cassette` will be fun running in a test suite, but then the next response fails of course because the string is `.na.character`.

somewhere in the serialization we're hitting a case we haven't seen before

found in `bold` testing https://github.com/ropensci/bold/blob/with-vcr/tests/t

[2018-03-29 16:39] hadley opened #35 "At what level does stubbing occur?"
The readme talks about "HTTP requests", but in insufficient detail for me to predict what it captures. Requests made by base R? By curl? By httr? By something else? Some more detail would be helpful.

Relatedly, I think you need to move the basic example up much higher on the page.

[2018-03-29 17:27] sckott commented on #35
👋 Good questions. I'll clear up these details in the README.

- In the end, it should be able to support requests from any http R client. Right now only `crul` is supported. The integration comes not here, but through `webmockr` - see  https://github.com/ropensci/webmockr/blob/master/R/adapter-crul.R - I've been meaning to make an adapter for `httr` in `webmockr`, started on it a while back here

[2018-03-31 05:58] sckott commented on #34
blaaaaaarrrrh, there's a failure in `yaml::as.yaml`, looking for another yaml pkg

[2018-03-31 16:46] sckott commented on #34
looks like a fix is to create yaml with `as.yaml` then `sub()` to replace a placeholder string with the body string or body base64 encoded raw

[2018-04-01 18:59] sckott opened #36 "make sure `preserve_exact_body_bytes` param used and applied only within the cassette in use"

[2018-04-02 06:09] #34 closed

[2018-04-02 23:47] sckott opened #37 "Toggle vcr on/off across all tests"
seems like could be really useful - maybe passing an env var while running `devtools::test()` that will just ignore vcr cassettes

[2018-04-03 00:12] sckott opened #38 "De-duplicate header keys to make sure yaml read has unique keys"
`yaml::yaml.load` fails on duplicate keys - make sure to write cassettes with unique keys

e.g. with Zoobank client, there's > 1 `set-cookie` response header, in fact 4 in each response

[2018-04-03 21:53] sckott commented on #38
pretty sure this is sorted out

[2018-04-03 21:53] #38 closed

[2018-04-03 21:54] sckott commented on #24
may push this to the next milestone if needed since major use case will be using `use_cassette` anyway

[2018-04-03 22:46] sckott opened #39 "Some messages are duplicated"
make sure this doesn't happen. e..g,

[code]

[2018-04-04 00:32] sckott opened #40 "record_mode "once" should not allow multiple recordings to the same cassette"
right now (as of current master 2d76f9c25dddf69416c380db90cb657c09cc2fb6) we get

[code]

and a new recording is made into the cassette `xxx`  with the second request made above. following Ruby's vcr behavior, this should error even though the 2nd request does have a changed header, ruby does:

[code]

[code]

[2018-04-05 22:02] sckott opened #41 "Tidy base64 output in cassette yaml files"
pretty unwieldy having a long string in a file, change from e.g.,

[code]

to

[code]

so it wraps to approx. 80 char width

[2018-04-06 17:46] sckott opened #42 "`http_interactions` in a cassette not working as in ruby VCR"
hmmmm

[2018-04-06 23:01] sckott opened #43 "Remove any pipe usage in the package"

[2018-04-07 01:29] sckott commented on #10
e.g. log output file for ruby `VCR`

[code]

[2018-04-12 00:39] sckott opened #44 "sort out how to log webmockr actions from vcr"
see https://github.com/vcr/vcr/blob/master/lib/vcr/request_handler.rb e.g.

[2018-04-13 19:16] sckott opened #45 "Maintain a single file connection when logging"
- rather than open and close the connection on each write, maintain a single connection object
- check that the connection exists/is open before writing
- maintain in a private environment

[2018-04-19 06:16] sckott opened #46 "Probably: ensure that on an error in `use_cassette` the cassette gets ejected"
perhaps on `on.exit(cassette$eject())` will do it, replacing this

https://github.com/ropensci/vcr/blob/master/R/use_cassette.R#L117

moving up a line on top of

https://github.com/ropensci/vcr/blob/master/R/use_cassette.R#L115

[2018-04-19 18:36] sckott opened #47 "Optional JSON logging"
don't want to make this default because requires a dependency (`jsonlite`), so would put jsonlite in Suggests. but would be cool since we can gives users ND-JSON to process more easily downstream for whatever reason

[2018-04-19 18:37] sckott commented on #47
see what Eliot does https://github.com/ScatterHQ/eliot

[2018-04-24 05:46] #10 closed

[2018-04-24 05:46] #39 closed

[2018-04-24 05:46] #40 closed

[2018-04-24 05:46] #42 closed

[2018-04-24 05:46] #46 closed

[2018-04-24 22:51] sckott opened #48 "maybe: automatically store non-JSON response bodies as base64?"
that I think is what is done in ruby `VCR`

[2018-04-25 19:52] sckott opened #49 "Interactions are getting recorded twice for some reason"
looking into it ...

[2018-04-25 20:18] sckott opened #50 "Also record webmockr version in cassette"
now is:

[code]

change to:

[code]

[2018-04-25 21:29] amoeba opened #51 "Scanner error: while scanning a plain scalar ... found a tab character that violate intendation"
I just created a test that makes use of vcr that tests the status code and response body size against an ~ 8 MiB file and got this error while running `devtools::test()`.

The line causing the YAML parsing issue is the second line of the XML document that is returned in the response body so this totally makes sense.

[code]

See the saved fixture at https://github.com/amoeba/dataonecrul/blob/maste

[2018-04-25 21:36] sckott commented on #51
thanks! for this

can you try  `preserve_exact_body_bytes` (it converts raw characters to base64) and see if that fixes it?

[code]

I definitely want to make sure XML response bodies work as plain text, but want to see if storing as base64 helps

[2018-04-25 21:43] amoeba commented on #51
That got the error to go away after removing the related fixture and changing that argument. Thanks!

Though now I'm seeing that my cassette isn't getting used:

[code]

[2018-04-25 21:52] sckott commented on #51
hmm, this warning `more than 1 found, using first` shouldn't be happening, since it's commented out in the latest on github, see https://github.com/ropensci/vcr/blob/master/R/http_interaction_list.R#L153

but your session info does say you have the latest, weird

[2018-04-25 21:54] amoeba commented on #51
Is it also weird that the testthat output shows two tests were run even though I only have one `test_that` block in that test file?

[2018-04-25 22:24] sckott opened #52 "Add user setup fxn"
to write in the user's package:

- `helper-packagename.R` file with

[code]

- update DESCRIPTION with `vcr` and `webmockr` in Suggests
- a dummy test file with an example? and state "delete me after looking at this"

--------

- directory creation happens automatically, so we don't need to help with that.

[2018-04-26 05:07] sckott opened #53 "Fail well when user tries with an unsupported HTTP client"
e.g. testing with `wikitaxa`, and `wt_data` wraps `WikidataR::find_item`, which eventually uses `httr` under the hood.

right now we write a blank cassette yml file

seems best to probably stop with message about this

[2018-04-26 16:25] sckott opened #54 "empty log file is being written when `log=FALSE`"

[2018-04-26 16:28] sckott opened #55 "Allow turning off/on recording date in logger"

[2018-04-26 17:09] #54 closed

[2018-04-26 17:09] #55 closed

[2018-04-26 18:31] sckott opened #56 "Help users summarize test suite wrt which tests still making HTTP requests"
mostly for purposes of avoiding CRAN's fury,

but also just would be helpful I think to have a run down as you go of which test chunks are using a cached cassette and which are making real requests - to know what you may still need to add vcr to, or maybe you don't

[2018-04-26 19:04] #43 closed

[2018-04-26 19:44] sckott opened #57 "Support filtering sensitive data"
from Ruby `VCR`

[code]

[2018-04-26 21:25] #57 closed

[2018-04-26 21:25] sckott opened #58 "Filtering sensitive data: make a more general approach"
the current thing (see #57) is very hacky, and is embedded in the yaml serializer, make something more general

[2018-04-26 21:54] sckott commented on #17
done

[2018-04-26 21:54] #17 closed

[2018-04-26 21:54] #50 closed

[2018-04-27 03:11] sckott opened #59 "matchers fix: when both things are NA, what do we return?"
in theory a user wouldn't match on path if there are no paths in the url, but surely it could happen.

for now, i think we return `TRUE` if e.g., the path is `NA` for both

[2018-04-27 03:49] sckott opened #60 "`use_cassette` should fail well when no code block passed"
right now fails silently

[2018-04-27 05:28] #59 closed

[2018-04-27 05:28] sckott opened #61 "we should fail early on `match_reqeusts_on` values that are not in allowed set"

[2018-04-27 05:37] sckott opened #62 "Drop parameters in esp. `use_cassette` as IGNORED FOR NOW"
better to add parameters probably then to have a bunch that are ignored, can add them in as they are supported

[2018-04-27 15:33] sckott opened #63 "Recorded at times should be calculated separately for each interaction"

[2018-04-27 20:51] sckott commented on #51
@amoeba i'm still working out some issues with that duplication. inspecting logs and such to see where we're not doing something right

[2018-04-27 21:00] amoeba commented on #51
Np, and thanks!

[2018-04-27 22:37] #60 closed

[2018-04-27 22:37] #61 closed

[2018-04-28 00:41] sckott opened #64 "current cassette issues"
1.  behavior

change behavior from erroring if no current cassette in use

[code]

to probably returning NULL

[code]

2. fxn name

probably change to `current_cassette()`

was trying to have fxn name start with the thing you were dealing with (cassette) but the other fxns are all the action first.

[2018-04-28 15:44] #63 closed

[2018-04-28 16:07] #64 closed

[2018-04-29 18:30] sckott commented on #51
isn't the count in testthat output for each expectation (e.g., `expect_equal`), not `test_that` block?

[2018-04-30 23:20] sckott opened #65 "Add ability to force encoding"
[code]

needs to probably wait in general  for before record and after record hooks to work

[2018-04-30 23:30] amoeba commented on #51
ah, that makes more sense.

Just tried it again and no luck. First run:

[code]

Second run:

[code]

<details>
<summary>devtools::session_info()</summary>

[code]
</details>

[2018-04-30 23:31] sckott commented on #51
no luck? looks like it worked to me, from 11 sec to 5 sec

[2018-04-30 23:45] sckott commented on #51
Good point. Though I think you're still seeing 5 sec of time there because the function is still doing something with the cached data, maybe it's all yaml loading time, i can take a look

[2018-04-30 23:53] sckott commented on #51
tried `profvis`, but didn't glean anything from that right away.

At least on my machine, the yml file for that test file is ~10 mb, so pretty big, which I think explains the test time, let me know if you think that's wrong.

[2018-04-30 23:54] amoeba commented on #51
Ah! I turned off my WiFi and the test still ran and succeeded. Also still shows a ~5s time so I think we know it's not making a network request that takes 5s.

[2018-04-30 23:58] sckott commented on #51
nice, yeah, looking forward to still being able to run my tests on all my pkgs when on a plane 😼

[2018-05-01 00:07] amoeba commented on #51
Yeah that's handy. Thanks for the quick fix. Can I close this and maybe open up a new issue for the slow fixture load time?

[2018-05-01 00:10] sckott commented on #51
sound good

[2018-05-01 00:10] #51 closed

[2018-05-01 00:16] amoeba opened #66 "Slow loading of test fixtures with large bodies"
This issue is related to #51. Over there, @sckott patched issues with vcr and dependent packages relating to large response bodies. After those fixes, I noticed that my fixtures appear to take 3-5 seconds to load which seems slow. I turned off my network connection and ran the tests to verify the tests weren't just making a network request connection and the tests run and still take just as long w

[2018-05-01 00:42] sckott opened #67 "Problems when multiple requests per cassette"
problem: we can't record more than one request to a cassette when `record=once` as expected. so when we have a test like the below, we can in theory use `record=new_episodes`. but on each subsequent test run, a new set of interactions is recorded. turning off net connection, turns out new real http requests are being made, which should only being happening when `record=new_episodes` if there are i

[2018-05-01 06:18] sckott commented on #66
thanks, been having a look. yes, yaml loading is pretty fast, but after loading there's something(s) related to size of that response loaded in - i may not get to this for the first version https://github.com/ropensci/vcr/milestone/1 - since its more a performance issue (as far as we can tell so far 😬)

[2018-05-01 07:13] amoeba commented on #66
No worries on when this gets in since I'm just kicking the tires. Looking at a profr trace of `devtools::test()` I see that the majority of time is taken within calls to what profr labels as `self$deserialized_hash` which is essentially a call to `self$serializer$deserialize_path()` which is essentially a call to `yaml::yaml.load_file(self$path)` (If I'm not mistaken, at least).

[code]

I feel li

[2018-05-02 05:45] #35 closed

[2018-05-03 00:10] sckott opened #68 "Only record matching logs for those that match?"
ruby vcr somehow only prints the logs for matches (and doesn't print non matches), e.g. they have

[code]

while we have eg.,

[code]

where we show all comparisons

not sure if we should copy ruby in this behavior or not?

[2018-05-03 00:14] sckott opened #69 "Stop after first match found"
right now when searching for matches within `HTTPInteractionList` we run each interaction from disk through `vapply()` , seeing if each matches the request being considered. However, we really only need to keep checking until there is a match, then no need to check further. so e.g., we might want to change to a while loop so we can stop when needed

[code]

something like that

[2018-05-03 18:44] sckott opened #70 "Support matchers not supported yet"
- request path
- request host
- request body

[2018-05-03 18:45] sckott opened #71 "Add stop message for matchers that aren't supported yet"
related to #70

- request path
- request host
- request body

[2018-05-28 05:44] maelle commented on #19
The README now seems to have the corresponding section so feel free to close this (and #20 that actually doesn't even make sense?)

[2018-05-28 05:47] sckott commented on #19
sounds good , will close

i think leave #20 open - i think you meant perhaps someone can use vcr within a vignette to cache http requests in the code chunks

[2018-05-28 05:47] #19 closed

[2018-06-14 19:14] sckott opened #72 "Security for cached response bodies"
Some responses may have content that the user doesn't want to be on the public web unsecured. We currently have ability to replace sensitive strings with placeholders, but not the entire response body.

Perhaps it's easy enough to toggle a switch to write a secure hash of the response body rather than the text response body itself. With a secure env var for encrypt/decrypt.

🤔

[2018-06-14 19:15] sckott commented on #72
note to self: an example to play with is chimpr pkg where we don't want response bodies containing sensitive info to be public

[2018-06-17 15:26] sckott opened #73 "httr integration"

[2018-06-19 18:10] sckott opened #74 "Replay requests at a user specified speed"
via https://github.com/Netflix/pollyjs/blob/c603e6defaa10ba2d1840cef913f4146dc1184a7/docs/configuration.md#timing [code](https://github.com/Netflix/pollyjs/blob/8bb313cc08716b80076c6f68d056396ce4b4d282/packages/%40pollyjs/core/src/defaults/config.js), [code](https://github.com/Netflix/pollyjs/blob/8bb313cc08716b80076c6f68d056396ce4b4d282/packages/%40pollyjs/adapter/src/index.js)

- not quite sure

[2018-07-08 20:20] sckott opened #75 "check in to loading yaml wrt security"
cf https://hackernoon.com/10-common-security-gotchas-in-python-and-how-to-avoid-them-e19fbe265e03 see no. 7

[2018-07-08 21:52] sckott commented on #75
https://twitter.com/hrbrmstr/status/1016073878433656832

[2018-07-24 21:02] sckott opened #76 "not handling request bodies correctly"
found via ropensci/rgbif#306

[2018-07-24 21:04] sckott commented on #76
work on branch fix-request-body

[2018-07-27 04:39] sckott commented on #73
work on the [httr-integration branch](https://github.com/ropensci/vcr/tree/httr-integration)

[2018-09-25 21:44] sckott opened #77 "Fix to make_http_interaction() and possibly other similar locations"
for when `x$content` from either `crul` or `httr` is a file path (when e.g., users write the body to disk instead of into memory)

I think simply just need to check if the contents of `content` is raw or not, but need to see what happens downstream of this function call

[2018-09-26 19:49] #77 closed

[2018-10-18 18:30] #73 closed

[2018-10-19 17:21] sckott opened #80 "`pkg_versions()`: add back http client name and toggle for which is being used"
the http client line is commented out for now

[2018-10-22 08:37] maelle commented on #52
yesss that'd be grand. I read the issue tracker looking for this in case it hadn't been suggested yet!

I wonder how much the test writing could also be automated.

[2018-10-22 18:16] sckott commented on #52
hoping to get this done soon.

what do you mean?

[2018-10-23 04:20] maelle commented on #52
Well once you've written your functions accessing an API, how much the tests can be drafted for you. I think it's not very possible.

[2018-10-23 05:36] sckott commented on #52
in theory possible. Though in practice out of scope here, but more important I think tests are so specific to a library that it'd be hard to do a good job automating it

[2018-12-01 23:44] sckott opened #81 "handle cases when httr/crul writes to disk"
investigate if same problem occurs with httr or not.

use case right now is rnoaa, where many functions write to disk - vcr is throwing erors like: with this block https://github.com/ropensci/rnoaa/blob/master/tests/testthat/test-buoy.R#L26-L41

[code]

[2018-12-02 07:27] sckott opened #82 "Warn users of possible sensitive data"
Could look for keywords like key/token etc and throw warning if found

[2018-12-02 16:33] sckott commented on #81
looks like we can inspect `x$content` - and check

1. `inherits(x$content, "character")`, and
2. `file.exists(x$content)`

At step 2, possibly fail if file does not exist - stating "you attempted to write to disk but the file does not exist"

[2018-12-08 00:53] sckott commented on #81
new plan, i think:

-

[2018-12-08 03:10] sckott commented on #81
applies to both:

- `crul`
- `httr`

and

- `curl` if we integrate it here (and in `webmockr`)

[2018-12-09 14:54] sckott commented on #82
probably don't want to have this at normal run time unless really fast.

could start off with a separate function

[2019-01-04 00:19] sckott opened #83 "mention possibility of problems w/ devtools::check vs. devtools::test"
see discussion with @adamhsparks

[2019-01-04 00:55] sckott opened #84 "how to deal with dates"
e.g.,

[code]

works fine on the date its run, but then e.g., the next day it's run the date generated in `Sys.Date()` will be the next day, and then vcr will error and complain that the request doesn't match the fixture in `foobar`.

https://github.com/vcr/vcr/issues/154 either 1) `before_record`/`before_playback` hooks or 2) custom request matcher

[2019-01-09 21:10] sckott opened #86 "Maybe change suggested use_cassette usage?"
I have been doing (assume the `expect_is` call fails)

[code]

But when the `expect_is` line fails, the traceback gives the line for the `vcr::use_cassette` call, instead of the `expect_is` line.

if we change to:

[code]

the traceback points to the actual test line that failed

----

Make sure this doesn't lead to othe problems

[2019-01-09 22:14] sckott opened #87 "fix %||%: not handling correctly inputs with length(x)>1"

[2019-01-09 23:22] sckott commented on #87
done

[2019-01-09 23:22] #87 closed

[2019-01-10 01:41] #86 closed

[2019-01-16 14:59] dpprdan commented on #86
Wouldn't this also be an option?

[code]

Or rather, is there a problem with it, I am not seeing ATM? Traceback seems to work with it.

[2019-01-16 18:34] sckott commented on #86
You're right. Thanks for the ping on this. I'll add to the docs the various ways you can arrange the code blocks and test lines

[2019-01-16 18:53] sckott commented on #86
https://github.com/ropensci/vcr#best-practices

[2019-01-24 19:47] sckott opened #88 "maybe add feature to scan fixtures for api keys/tokens"
* if the user has defined stuff in `filter_sensitive_data` in their `vcr_configure()` call then we can look at those directly
* even if they haven't done the above, still scan as they may have included keys and not known about it

& add to docs to make sure people know about it

[2019-01-25 22:41] sckott commented on #88
point people to https://github.com/ropenscilabs/trufflesniffer

[2019-01-25 22:41] #88 closed

[2019-01-26 23:00] sckott opened #89 "Don't print secrets in error blocks"

[2019-01-29 23:10] #89 closed

[2019-02-01 09:10] Bisaloo opened #91 "Date field is not recognized as such"
I am not sure whether should be fixed on `vcr` or `httr` side. Here's a reprex that will explain the issue better than I could:

[code]

<sup>Created on 2019-02-01 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

----

This happens on [L36 of `response.r` from `httr`](https://github.com/r-lib/httr/blob/519bbb8ab63

[2019-02-01 18:55] sckott commented on #91
it's actually a fix needed in `webmockr`.  https://github.com/ropensci/webmockr/blob/master/R/adapter-httr.R#L309-L312

I was just using the date from the response header directly, but httr parses the http response date to another format to put in to the `x$date` slot in the response

opened an issue in webmockr, you can see the ping above

[2019-02-01 21:07] sckott commented on #91
@Bisaloo install from master `remotes::install_github("ropensci/vcr")` and i will pull down a dev `webmockr` too. reload session, and try again.

[2019-02-02 02:58] sckott commented on #80
decided not to do this. removing the commented out code.

[2019-02-02 02:58] #80 closed

[2019-02-02 11:01] Bisaloo commented on #91
Confirmed fixed. Thank you for your responsiveness!

[2019-02-02 11:01] #91 closed

[2019-02-02 11:25] Bisaloo opened #92 "status_code is missing when used with httr"
cc @Rekyt

I think it's a `webmockr` issue as well but I don't understand how to use `webmockr` without `vcr` so I couldn't reproduce with `webmockr` only. Feel free to move this issue if you like.

# Issue

The `status_code` line is missing when `httr` is used. But it's here with `crul`.

# Why it's a problem

This is problematic because we're trying to reproduce a request failure. When we replay

[2019-02-02 18:49] sckott commented on #91
and thanks for the detailed report

[2019-02-03 06:33] sckott commented on #52
@maelle if you have time can you try `vcr_setup`?

[code]

run on a package you have already, OR there's an example in the docs for `vcr_setup` that doesn't work entirely yet

[2019-02-03 06:47] sckott commented on #92
thanks for the report @Bisaloo will have a look

[2019-02-03 20:31] #92 closed

[2019-02-03 20:31] sckott commented on #92
thanks for the note, makes sense.

I pushed a fix. reinstall from master, reload and try again. should work now/ It was a problem in `vcr` this time.

[2019-02-03 20:33] sckott commented on #92
fwiw, i think the `webmockr` readme  https://github.com/ropensci/webmockr#webmockr does an okay job of running through how to use it separately. been meaning to add more to the book https://ropensci.github.io/http-testing-book/mocking.html too

[2019-02-04 06:44] maelle commented on #52
Yay, running it now on a branch of `ropenaq`! First thought: maybe the function should be called `use_vcr()` for aligning its name with `usethis`-like functions? Not only `usethis` functions, but also e.g. `travis::use_tic()` have such names.

[2019-02-04 06:48] maelle commented on #52
By default `vcr_setup()` should run on the current project (or on the current directory if there's no project cf `usethis::proj_get()`).

[2019-02-04 06:50] maelle commented on #52
A few other suggestions
- Should the helper-ropenaq.R file have "vcr" in its name?
- What's tests/test-all.R?
- Should the function end with a message about the best place where to read about what next to do, i.e. where next to best learn about using `vcr`?

End of suggestions :-)

[2019-02-04 18:07] sckott commented on #52
thx for trying it!

i'll think about a name change.

agree that current directory seems smart.

it could, though I thought it made sense to take advantage of the helper file function that already existed. do you think it is worth adding a separate file for vcr setup?

it's this file https://github.com/r-lib/testthat/blob/master/tests/testthat.R - I think the name doesn't matter really, AFAIK. inst

[2019-02-04 18:35] maelle commented on #52
testthat uses setup.R for setup I think?

[2019-02-04 18:44] sckott commented on #52
what is setup.R?

[2019-02-05 05:22] maelle commented on #52
Oops scrap that setup() is actually a testthat function.

[2019-02-06 16:35] Bisaloo commented on #92
@sckott, thank you for your prompt response!

I'm still having troubles with this issue though. In particular, the reprex from https://github.com/ropensci/vcr/issues/92#issuecomment-460030276 still returns `HTTP 200` instead of `HTTP 404`.

I verified that I'm using the latest dev version of both `vcr` and `webmockr`:

Do you have any idea what could be causing this?

[2019-02-06 16:49] Bisaloo commented on #92
I cloned the git repo and ran the reprex I posted and everything works like a charm when `vcr` is loaded with `devtools::load_all()`.

I'm at loss why it wouldn't work when I use the installed version of `vcr`...

[2019-02-06 16:53] Bisaloo commented on #92
Ah, according to `devtools::session_info()`, the old version of `vcr` was still loaded. I restarted R and it now works as expected.

Sorry for the noise and thank you for your help!

[2019-02-07 13:27] Rekyt opened #93 "Saving multiple queries on a single cassette"
cc @Bisaloo

We experience problems to record several request on a single `vcr` cassette.
The two first times always work when using `record = new_episodes` however for the third call we get the following error (see reprex below):
[code]

Are we recording the cassette in the intended way?
Thanks!

## Related issue

#67

## Reprex

[code]

<sup>Created on 2019-02-07 by the [reprex package](https://

[2019-02-07 19:54] sckott commented on #93
thanks for this @Rekyt having a look

[2019-02-07 20:22] sckott commented on #93
problem is right here https://github.com/ropensci/vcr/blob/master/R/cassette_class.R#L418

on first use of `use_cassette()` it makes

[code]

on 2nd it makes

[code]

somehow replacing

[code]

with

[code]

In addition, it doesn't seem to happen if you only include 1 request, e.g,.

[code]

[2019-02-07 20:26] sckott commented on #93
Seems to be fine when using `crul`

[2019-02-07 22:08] sckott opened #94 "w/ httr multiple diff. requests within a cassette not recorded"
found via #93

seems to affect all recording types

[code]

- 1st request: first http request gets recorded
- 2nd request: second http request gets recorded, and first removed
- 3rd request: first http request gets recorded, and second removed
- ... and so on toggling between state of 2nd and 3rd

Seems `httr` specific, not sure what it is yet

[2019-02-07 22:08] sckott commented on #93
related issue https://github.com/ropensci/vcr/issues/94 may be at fault here, not sure yet

[2019-02-08 23:32] #94 closed

[2019-02-08 23:33] sckott commented on #93
@Rekyt i think it's fixed now. reinstall `remotes::install_github("ropensci/vcr")`, restart R, and try again

[2019-02-09 02:35] #52 closed

[2019-02-09 04:04] sckott commented on #93
`webmockr` is off to cran just now, if all goes well, can submit this to cran maybe monday or so

[2019-02-09 04:05] sckott commented on #84
working on this in this pkg https://github.com/ropenscilabs/timefuzz

[2019-02-10 09:09] Rekyt commented on #93
It works like a charm! Thank you so much @sckott ;)

[2019-02-10 09:09] #93 closed

[2019-02-10 16:53] sckott commented on #93
great, glad it's working for you

[2019-02-11 18:10] sckott opened #96 "Actually use `up_to_date_interactions` method in `Cassette`"
Should be used in `merged_interactions` method within `Cassette` - is not used at all right now.

In ruby they run `old_interactions` through `up_to_date_interactions` before exiting https://github.com/sckott/vcr/blob/master/lib/vcr/cassette.rb#L258

[code]

[2019-02-12 00:39] sckott opened #97 "add testthat reporter for proportion of tests using vcr cached responses"
imagine it looking something like:

[code]

makes most sense to keep the reporter in this pkg

not sure what's possible in terms of modifying the output & in detecting `use_cassette` calls

[2019-03-30 00:44] sckott opened #98 "simplify webmock creation in `cassette_class`"
way too complex https://github.com/ropensci/vcr/blob/master/R/cassette_class.R#L212-L227 and getting more complex as i'm adding body support

[2019-04-16 00:22] sckott opened #99 "skip test that uses vcr if casssette is not UTF-8"
Arose from recent realization that strings in cassettes, any string in the cassette (not just the response body), that are not UTF-8 can cause problems on some platforms, e.g.,

- rcrossref (with commit 7ac23d58eca2e3a125e6dc0879d1350730097041)
    - `tools::showNonASCIIfile("tests/fixtures/cr_citation_count.yml")`
    - `tools::showNonASCIIfile("tests/fixtures/cr_cn_different_base_urls.yml")`
- r

[2019-04-23 18:29] sckott commented on #97
see if any changes in reporters in new version https://cran.rstudio.com/web/packages/testthat/news/news.html that may help here

[2019-05-03 00:20] sckott commented on #99
I think best approach is to take the string from the cassette and replace any non ascii strings with unicode equivalent, or if none found, then drop the non-ascii, or something else?  ideally would use `stringi`, but the pkg is so heavy so not sure want to import it. but could have as a Suggest and if not installed, then do something with base R. I like the idea of a filter before loading into yam

[2019-05-03 02:03] sckott commented on #99
another reason to get that JSON serializer done sooner than later, it may help avoid these yaml pkg problems

[2019-06-07 16:11] jefferis commented on #70
@sckott is there likely to be support for request `body` with `http` any time soon? @SridharJagannathan

[2019-06-07 17:48] sckott commented on #70
thanks for the ping @jefferis - have been working on this on this branch https://github.com/ropensci/vcr/tree/fix-request-body but stalled a bit with other work - can try to get this sorted soon - are you willing to test dev versions of this?

[2019-06-10 13:20] SridharJagannathan commented on #70
@sckott, yes we can test your dev version of the implementation.

[2019-06-10 14:23] jefferis commented on #70
Just to add, yes definitely very interested in this. We thought briefly that this already worked for crul but not httr. Matching on the body is the point of most interest for us as we need to be able to mock POST requests. FYI our first use case is this package https://github.com/jefferis/rcatmaid. We are also investigating the use of https://github.com/nealrichardson/httptest, but `vcr` might wor

[2019-06-10 23:00] sckott commented on #70
Great, i'll ping when ready for testing

[2019-06-12 23:18] sckott opened #100 "fix http testing book links: ropensci -> ropenscilabs"

[2019-06-13 18:13] #100 closed

[2019-06-13 21:19] sckott commented on #76
see also #70

[2019-06-13 23:22] sckott opened #101 "support matching requests on single options"
right now we only support request matchers that at least include method and uri since `webmockr::stub_request` requires that method and uri are given

I think we can support single matchers

* if method not set `method="all"`
* if uri not set `uri_regex="."`
* if method and uri not set, `method="all"` and `uri_regex="."`

[2019-06-15 22:44] sckott commented on #70
@SridharJagannathan @jefferis been working on this, rather complicated to deal with the various forms request bodies can take  - almost done - but leaving for vacation today - I expect to push a branch on the 24th or thereabouts with support for body requests

[2019-06-25 12:21] dpprdan commented on #83
(Sorry commenting on this old issue, let me know if you want me to open a new one).

I've read the discussion on Slack and tried a bit myself. IIUC the difference between `devtools::check()` and `devtools::test()` is due to `check` running the tests in a temporary folder, not the package folder. Therefore it cannot create new cassettes in the package folder.

It might be helpful to mention in the

[2019-06-25 12:48] dpprdan opened #102 "Best practice for vcr-enabled tests on CRAN"
I've [started](https://github.com/dpprdan/opencage/commit/716e6e17ea40b4d51485efcaa7523d197f03b64c) using {vcr} for the tests in {[opencage](https://github.com/ropensci/opencage)},  but I am unsure, what the best practices are regarding running the tests on CRAN (or not).

I have seen that some of the tests that use vcr in other packages `skip_on_cran()`, but not all, e.g. https://github.com/ropen

[2019-06-25 12:50] dpprdan commented on #102
I guess one (obvious?) thing to keep in mind would be to create the cassettes by running e.g. `devtools::test()`.

[2019-06-25 19:22] sckott commented on #102
Yes, it is possible to run tests on CRAN that use cassettes on disk. I think at first when vcr was just on CRAN I was skipping tests that used vcr until I was sure it worked on CRAN checks, but it should be fine now to run tests that use vcr on CRAN

I don't know the scope of what's allowed for running tests on CRAN - but it has worked to have them in `tests/` somewhere. I've used `tests/vcr_casse

[2019-06-25 19:22] sckott commented on #83
thanks - will take a look at this to confirm the difference and see if there's anything that can be done

[2019-06-26 09:53] dpprdan commented on #102
Thanks! We're all set then, it seems. 🎉

The same applies to `.Rbuildignore`, I suppose.

Do you want to add "vcr-enabled tests on CRAN" to the docs/README/HTTP-testing-book?

[2019-06-26 18:51] sckott commented on #102
right, same-ish for .Rbuildignore

sure, what exactly are you thinking? e.g., how can this section https://github.com/ropensci/vcr#vcr-for-tests be improved

[2019-06-28 17:13] sckott opened #103 "Helper for test file level and test_that chunk level cassette inspection/manipulation"
It would make it easier to re-record cassettes, delete certain ones, etc. if there were fxns to tell the user what cassettes were associated with which test files and within each file, associated with which `test_that` blocks. e.g.,

## summary/information

[code]

[code]

## manipulation
### delete

by test file - delete all cassettes used by the test file

[code]

by `test_that` block - either r

[2019-06-28 19:30] sckott commented on #70
@jefferis @SridharJagannathan Changes are in the `fix-request-body` branch. If you have time, please give it a try, dev version of `webmockr` needed as well

[code]

e.g. each of these should work

[code]

Do let me know what you think, if you have any problems, etc.

[2019-06-28 22:05] sckott commented on #102
see new section https://ropenscilabs.github.io/http-testing-book/vcr-intro.html#vcr-enabled-testing in the book

[2019-06-28 22:05] #102 closed

[2019-07-18 03:03] sckott commented on #97
On branch `testthat-reporter` - changes on commit cdc5abd

[code]

[code]

[2019-07-18 03:05] sckott commented on #97
to do

- Maybe need a header saying what the two things are: cassette name and last time recorded
- there's lots of testthat internal fxns needed to make the `VcrProgressReporter` work - need to reduce redundancy needed - not sure what to do on that yet

[2019-07-20 00:24] sckott commented on #70
this is working now, closing - see https://github.com/ropensci/rgbif/issues/365 for an example

[2019-07-20 00:24] #70 closed

[2019-07-20 00:24] #76 closed

[2019-07-20 00:28] sckott opened #104 "Make re-recording work"
Have some placeholder code in `Cassette` right now, but not used

[2019-07-24 00:33] #104 closed

[2019-07-24 00:34] sckott commented on #96
fixed via #104

[2019-07-24 00:34] #96 closed

[2019-07-24 22:20] sckott commented on #81
- crul: needs to have the file path in `content` slot in `HttpResponse` object
- httr: same but path has to have s3 "path" class attached

[2019-07-25 19:47] sckott commented on #81
related fix in crul https://github.com/ropensci/crul/issues/115

[2019-07-26 22:55] sckott commented on #81
here's a tough case: where the fxn caches a file from the HTTP request somewhere on disk - how do we deal with this in a vcr testing context?

an example is `rnoaa::cpc_prcp` - see experiments on branch `vcr-write-disk`

[2019-07-29 21:26] sckott opened #106 "best practices: make sure people use cassette names without spaces/etc"

[2019-07-30 00:44] sckott opened #107 "fix cassette_class problem with stub specification"
at https://github.com/ropensci/vcr/blob/master/R/cassette_class.R#L224 should be `headers = req$headers`

[2019-07-30 00:48] #107 closed

[2019-08-15 17:17] sckott opened #109 "Suggest that users .gitignore cassette diffs?"
no. 10 here https://fabioperrella.github.io/10_tips_to_help_using_the_VCR_gem_in_your_ruby_test_suite.html

[2019-08-21 19:18] sckott commented on #101
isn't this already done? check on this

[2019-08-21 19:22] sckott opened #110 "verbose mode to notify users when vcr is recording"
(via bikeshed pod wrt ruby vcr pain points)

[2019-08-21 19:22] sckott opened #111 "file size warning to notify users when file sizes hit certain thresholds"
(via bikeshed pod wrt ruby vcr pain points)

[2019-08-21 19:25] sckott commented on #110
e.g.,

- when vcr is recording a new cassette
- when vcr is recording new interactions to an existing cassette
- when vcr is re-using an existing cassette
- etc.

[2019-10-12 14:49] Rekyt opened #112 "Error while parsing image content with vcr rawToChar() error"
Hi @sckott 👋 ,

I am currently working on a small API package called [`bnfimage`](https://github.com/Rekyt/bnfimage) which goal is to be an R client for the French National Library Image database.

I thought I could use vcr for the tests of the package, but I had trouble when recording the queries. The query returns an image (a png image in the example below), I can perfectly read it. But whenever

[2019-10-12 15:51] sckott commented on #112
thx for this detailed report!  However, I don't see the vcr and webmockr versions you're using, can you include that.

[2019-10-12 17:01] Rekyt commented on #112
I've updated my comment above but here are the versions of the two packages:
[code]

[2019-10-12 17:57] sckott commented on #112
thanks! will have a look

[2019-10-16 03:04] sckott opened #113 "httr::authenticate() causing problems with httr requests"
via testing vcr integration with https://github.com/dbca-wa/ruODK

for the function `ruODK::project_list` - omitting setup with credentials and such - this doesn't work. the function call works (with proper auth) by itself, but not within use_cassette

[code]

Problem im pretty sure is with `httr::authenticate` - problem doesn't happen with `crul::auth` - so I think i'm not attaching `httr::authen

[2019-10-16 15:11] Rekyt commented on #112
I tried but I get the same error:
[code]

<sup>Created on 2019-10-16 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-10-16 16:31] sckott commented on #112
okay, thanks for trying that.

hmm, i wouldn't think rawToChar is what you'd want for a png. So you get the image and then you pass the bytes to `rawToChar()`?

[2019-10-16 23:13] sckott commented on #112
ahhhh, i see now. tried running vcr on bi_image in your pkg, and the error comes from vcr in the traceback.

[2019-11-04 12:53] maelle opened #114 "nasapower no longer uses vcr"
So it should be removed from the README

https://github.com/ropensci/nasapower/commit/2449135bbf1a6f5d2c77c42a0dc2ec3e7c352223

[2019-11-04 12:59] maelle opened #115 "Use_vcr_test?"
I'm starting to use vcr in a package, so here come all the stupid questions/ideas.

The `use_vcr()` function creates an example test file.

Could there be a function that'd be like `usethis::use_test()` to set up individual test files with the correct vcr syntax?

E.g. `use_vcr_test("get_deals")` would create

[code]

[without `context()`](https://www.tidyverse.org/articles/2019/04/testthat-2-1-0/

[2019-11-04 13:04] maelle commented on #115
Or is it better to wrap the test inside the cassette, actually? The README mentions the two, but how do I choose? :-)

I like the idea of wrapping the test because I have existing tests, so it's easier to add the wrapping to them.

[2019-11-04 13:08] maelle opened #116 "What if I mistakenly use the same cassette name twice?"
Will this be checked before the tests are run?

[2019-11-04 13:23] maelle opened #117 "Workflow advice"
So say I have now wrapped all the tests of my package in cassettes.

The tests assess how my package handles responses of the web API at version blabla.

How do I make sure I'm keeping up with web API changes, or even web API failures? Should I have e.g. one build that doesn't use the cassettes on Travis? Do you have any example?

[2019-11-04 13:31] maelle commented on #37
I think my question #117 is related to this.

[2019-11-04 13:32] maelle commented on #109
you could make that a part of what `use_vcr()` does?

[2019-11-04 13:33] maelle commented on #103
I like this idea :-) it'd also help seeing duplicates cf #116

[2019-11-04 13:34] maelle commented on #97
Cool idea.

[2019-11-04 15:54] sckott commented on #114
thanks

[2019-11-04 19:08] sckott commented on #115
yeah, i guess here https://github.com/ropensci/vcr#vcr-for-tests i should just remove the first code block and say do it the 2nd way, as the 2nd way is better - it's a bit more work to move lines around, but worth it I think

about use_test idea: i'd think it'd only make sense if someone's writing a new test and hasn't used vcr before; i'd think most people would be modifying currently existing te

[2019-11-04 19:13] sckott commented on #116
good question. im pretty sure you'd get an error about the http request not matching whats on the cassette, but if it was for some reason the same http request, then that'd be bad cause it'd give back the wrong data presumably

I like the idea to check before tests are run - might be able to do that in the `helper-packagename.R` file used, after setting the vcr configuration

[2019-11-04 19:21] sckott commented on #117
There's a lot of variables here as you know, so it's hard to give one solution.

In the recent version we added https://github.com/ropensci/vcr/blob/master/NEWS.md#new-features `re_record_interval ` setting, so e.g., you could tell vcr to re-record real interactions every 5 days, or 24 hrs, or whatever. This approach is a sort of hack I guess, so that test runs are fast by using cached request/res

[2019-11-04 19:22] sckott commented on #109
yeah! good idea

[2019-11-04 19:22] sckott commented on #97
ugh, totally stalled though, haven't been able to figure it out, testthat reporters are hard

[2019-11-04 19:23] sckott commented on #103
thanks for the upvote

[2019-11-04 19:46] maelle commented on #37
Then on Travis for instance I'd have a build with the environment variable IGNORE_VCR_CASSETTE set to TRUE. 🙂

[2019-11-04 19:47] sckott commented on #37
right, thanks for pinging in here. will look into this soon. Would be good to have this as a workflow option

[2019-11-13 15:51] sckott commented on #37
the parameter `ignore_cassettes` in `vcr_configure`

[2019-11-14 15:39] sckott opened #118 "Windows problems"
Noticed some problems on windows via a taxize winbuilder check:

[code]

After investigating on my windows vm, stack trace brought it down to `gsub` call within the helper function `sensitive_remove`, which gave errors about the string being too long

Seems maybe there's something going on with missing env vars for the API keys possibly.

[2019-11-16 19:18] sckott commented on #112
working on branch `fix-raw-response-handling`

[2019-11-17 06:48] #112 closed

[2019-11-17 06:48] sckott commented on #112
@Rekyt  changes on master now - reinstall - let me know if it works now

[2019-11-17 07:02] adamhsparks commented on #114
Sorry, yes, I removed it. I just had too many issues getting it to work so I gave up and removed it.

[2019-11-17 16:12] sckott commented on #114
no worries

[2019-11-17 19:54] Rekyt commented on #112
It does work now! Thank you so much!

[2019-11-18 11:22] maelle opened #120 "How to add a single test"
I have a test suite for which I had created vcr cassettes.

Now if I had a test inside a file, say

[code]

in a file where I have another cassette. I checked the cassette name, it's unique.

when I run the tests I get

[code]

* It's a bit long error output for a test
* I was expecting vcr to simply create the cassette the first time that test is run as it did the first time I switched to having

[2019-11-18 11:26] maelle commented on #120
Note that yes the existing tests include one for a cassette called "get_owners".

[2019-11-18 18:38] sckott commented on #120
the error has `../fixtures/get_owners.yml` - so it **shouldn't** be coming from the block you showed above it with cassette name `get_owners_active` - most likely there was some change in the code block that uses the get_owners cassette, thoughts?

It should create a cassette the first time that test is run. Maybe this is related to the get_owners vs. get_owners_active above?

The error message is

[2019-11-18 18:40] sckott opened #121 "more brief cassette error message?"
from #120 could just report that top part about the cassette and request, then say go to the book and/or  issue tracker

[2019-11-18 19:53] maelle commented on #120
Aaah probably my fault, sorry!

[2019-11-18 19:53] #120 closed

[2019-11-18 20:03] sckott commented on #120
maybe not - did you check if there was a change in the block of code that uses the get_owners cassette?

[2019-11-18 20:07] maelle commented on #120
Yes I now realize I started explicitly passing an argument with the default value in my query (so the result was the same but not the request)... sorry and thanks 🙈

[2019-12-02 00:33] sckott opened #122 "probably not doing real http requests with bodies correctly for httr"
not capturing body options for httr when doing real requests

[2019-12-02 00:35] #113 closed

[2019-12-02 00:35] #122 closed

[2019-12-02 00:40] sckott opened #123 "update R6 docs to new roxygen2 version"

[2019-12-02 11:15] maelle commented on #37
How would you make that work for a single build on Travis? (all builds but one using the cassettes).

[2019-12-02 18:19] #114 closed

[2019-12-02 18:19] #123 closed

[2019-12-02 18:36] sckott commented on #37
@maelle using an env var in matrix i think? e.g., https://github.com/ropensci/vcr/blob/master/.travis.yml#L10 does that make sense or no?

[2019-12-03 01:09] #37 closed

[2019-12-03 01:09] sckott commented on #37
@maelle okay, this should work now, see `?lightswitch` after reinstalling

[2019-12-03 01:45] sckott commented on #106
@maelle now checking that cassette names a) don't have spaces and b) don't have yml/yaml file extensions in them. Can you think of any other obvious things to check?

[2019-12-03 01:51] sckott commented on #101
already done in previous version https://github.com/ropensci/vcr/releases/tag/v0.3.0 - probably this commit 722deb6df09407dcb5738827006ec221f246c592

[2019-12-03 01:51] #101 closed

[2019-12-03 18:32] maelle commented on #106
Unique names but it is out of scope for this issue maybe?

[2019-12-03 19:34] sckott commented on #106
right, already in another issue #116

[2019-12-03 19:34] #106 closed

[2019-12-03 19:35] sckott opened #124 "httr adapter failing on reading cached response"
On first real request `x$content`  is raw as it should be, but on second request pulling from the cassette `x$content` is character, which causes error at least in `httr:::print.response` and probably other things

[2019-12-04 02:20] #124 closed

[2019-12-04 02:22] #81 closed

[2019-12-05 16:33] sckott opened #126 "response_summary() failing on http response strings with multibyte char error"

[2019-12-05 16:34] sckott commented on #126
e.g., fails on response body from a request to `https://google.com`

[2019-12-05 16:41] #126 closed

[2019-12-05 20:37] sckott opened #127 "Get RequestIgnorer working"

[2019-12-05 23:26] #127 closed

[2019-12-11 08:58] maelle commented on #37
sorry, I didn't work on hubspot this week, I'll try it next week, thanks a ton!

[2019-12-12 15:57] Rekyt opened #128 "Image in cassette are length 0 when re-reading vcr cassettes"
Hi @sckott,
I've been trying to use `vcr` to implement tests in [`bnfimage`](https://github.com/Rekyt/bnfimage)

Now `vcr`does support saving images. But for a reason I don't know, when re-reading vcr cassettes, my tests kept failing.

Here's a reprex:
[code]

<sup>Created on 2019-12-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[2019-12-12 17:01] sckott commented on #128
thanks for the report, i'll have a look - are you testing with your pkg on your master branch?

[2019-12-12 19:10] sckott commented on #128
(related to #112 )

[2019-12-12 19:26] Rekyt commented on #128
Woah thank you for the quick answer. I'm currently updating the cassettes on Rekyt/bnfimage@a4539ef30c1004201eb320b2453e98be5fce7a86 on branch `new_cassettes`

[2019-12-12 19:36] sckott commented on #128
let me know if it works. all webmockr an vcr tests are passing now, added new tests specifically for images to each pkg for changes made

[2019-12-12 20:04] sckott commented on #128
@Rekyt looks like the png package is needed on your travis build?

[2019-12-13 10:58] Rekyt commented on #128
I'm only depending on magick so I don't think the png package is needed.
I update both vcr and webmockr, everything work now.
However, there seems to be an incompatibility with the option `preserve_body_bytes = TRUE`.
Is it expected? (The way vcr works is still obscure to me...)

Reprex:
[code]

<sup>Created on 2019-12-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<detai

[2019-12-13 17:11] sckott commented on #128
Oof, this is quite complicated, and i'm not as familiar with httr, i'll have a look.

I do want to make it easier to understand how vcr works - will keep working on that

[2019-12-13 19:19] sckott commented on #128
@Rekyt try again after reinstalling. Should work now.

[2019-12-14 08:56] Rekyt commented on #128
It works!

[2019-12-14 15:32] #128 closed

[2019-12-16 19:42] maelle commented on #37
I'm setting this up at last, thanks. I have two remarks

* I am not sure I fully understand the differences VCR_TURN_OFF vs VCR_TURNED_OFF, could you give examples of combinations of environment variables values and why one would use them?

* I like to link https://rstats.wtf/r-startup.html for startup.

[2019-12-17 04:29] sckott commented on #37
vcr_turn_off is a short-hand for vcr_turned_off and ignore_cassettes, see  https://github.com/ropensci/vcr/blob/master/R/lightswitch.R#L120-L129 - so it sets both - you can achieve the same thing as vcr_turn_off by setting both vcr_turned_off and ignore_cassettes - i can't remember exactly why - but anyway, I'll document it better

[2019-12-17 04:39] sckott opened #131 "document vcr_turn_off/et al. env vars better"
via #37

https://github.com/ropensci/vcr/issues/37#issuecomment-566212328 and my comment after

[2019-12-17 05:45] maelle commented on #131
I was thinking that for these variables and other lightswitch options a decision tree would be good (a diagram, or in text form).

You want to turn off vcr...

* in a single test, blabla

* in all tests, blabla

well with more decision criteria.

[2019-12-17 21:33] sckott commented on #131
good idea!

[2019-12-19 02:17] sckott opened #132 "return actual httr request object in response"
We should try to give back a request object like httr gives in the response. Right now we have `request` class on the first call (a real http request), but then a `RequestSignature` on all subsequent calls

[code]

[2019-12-19 02:17] sckott commented on #132
probably not a high priority - i imagine most users don't do much with `$request` in the response object

[2019-12-20 20:01] sckott opened #134 "httr with upload_file in body can not be re-created internally in vcr"
cc @aaronwolen

In our work to fix how webmockr/vcr handle bodies correctly, I noticed that we cannot re-create requests that have an upload passed directly to body (not in a list). This concerns this code block most importantly https://github.com/ropensci/vcr/blob/master/R/request_handler-httr.R#L102-L109 but also this https://github.com/ropensci/vcr/blob/master/R/request_handler-httr.R#L76-L81 i

[2019-12-21 16:35] sckott commented on #116
@maelle can you try this out?  `remotes::install_github("ropensci/vcr@check-cassette-names")`, then put this in your `helper-pkgname.R` file:

[code]

[2019-12-21 16:36] sckott commented on #116
if you don't have any duplicated cassette names, just create a duplicate and run tests again

[2019-12-21 23:26] jennybc commented on #134
Having read the above once / quickly, I don't immediately have any insights. I've never tinkered on a part of httr that left with knowledge that helps me. That is, I'd have to study up and do my own analysis to contribute anything.

[2019-12-22 21:42] aaronwolen commented on #134
Afraid I don't have an answer either but I can reliably reproduce the issue. It looks like the recreated httr request hangs on `curl::curl_fetch_memory()`, which times out after 60s for me. Incidentally, the wait time can be modified:

[code]

I did notice the two packages handle a `NULL` connection differently within the body of `readfunction`:

* httr [returns `raw()`](https://github.com/r-lib/h

[2019-12-30 19:50] sckott opened #135 "write to disk: record paths relative to the test suite dir?"
realized right now with writing to disk tests, we record the absolute file path - which is fine as long as the tests are run on the same machine/server. but if the same tests are run on a different machine, they will likely fail. no bueno

[2019-12-31 17:13] sckott commented on #134
thanks @jennybc - no worries

[2019-12-31 17:18] sckott commented on #134
thanks @aaronwolen for that insight. I imagine something that has to be changed within `httr` will probably not work as a solution - but if that's the only or best solution then we can at least approach them and see if they're open to the change.

[2020-01-13 11:06] maelle commented on #116
Thank you, and sorry for delay testing it!

* Could the message

[code]

include the filenames where the cassette name was found? E.g.

[code]

* Duplicate cassette names are obviously bad. Could the docs for the function also state what else is bad in a cassette name and why?

* Does `use_vcr()` add this function to the `helper-pkgname.R`?

[2020-01-13 19:45] sckott commented on #116
@maelle okay, made those changes, when you get a chance can you try again?

[2020-01-15 08:50] maelle commented on #116
Thank you!

* Yes the error message is more informative now with filenames, awesome!

* The new docs look great! Why not store that in an Rmd fragment to re-use in a vignette + in the README? Cf https://blog.r-hub.io/2019/12/03/readmes/#re-use-of-rmd-portions-in-other-rmds

* It is obvious but you could add that the function cannot check the names are meaningful. Maybe it'd be useful to say why yo

[2020-01-15 17:09] sckott commented on #116
thanks !

[2020-01-22 15:24] aaronwolen opened #136 "Should vcr_configure() respect your existing configuration?"
Yes, I think so. 😁

As currently implemented every call to `vcr_configure()` reverts all settings back to their defaults, e.g.

[code]

<sup>Created on 2020-01-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

It seems like `vcr_configure()` should only update settings specified as arguments. This behavior would be especially convenient for tests, so that global settings cou

[2020-01-22 15:59] maelle opened #137 "How to make tests work for external PRs in a repo"
Workflow idea
* The maintainer creates fixtures with their API key by running a function wrapping `testthat::test_package()` or so + indicating what's to be redacted. `vcr` redacts the API key to "foobar" everywhere.
* In all other tests
    * the key is set to "foobar".
    * therefore the tests can use the fixtures.
* The maintainer can update fixtures by running the function.

Problems it solve

[2020-01-22 16:01] maelle opened #138 "Add fixtures vs cassettes to terminology?"

[2020-01-22 16:02] maelle opened #139 "Define "serialize" in terminology"
with easy words e.g. "how to serialize i.e. how to represent information (body, header) from the HTTP request in structured data" or so

[2020-01-22 16:04] maelle opened #140 ""The main use case is for unit tests for R packages.""
Could this come earlier in the README? :-) (at the top, with phrasing from DESCRIPTION instead of just stating it's a port from a Ruby gem, "Record test suite HTTP requests and replays them duringfuture runs."

[2020-01-22 18:11] sckott commented on #136
Sure, that makes sense I think.  I imagine the stuff in `helper-pkgname.R` gets run before any tests, so that `vcr_configure` will be the first to get run.

hmm, not sure how this will play together with default parameter values though. it's nice to set defaults for users, those values that make the most sense. So if `vcr_configure` only sets configuration options if specified by the user, I guess

[2020-01-22 19:01] sckott commented on #116
done

[2020-01-22 19:01] #116 closed

[2020-01-22 19:26] sckott commented on #138
thanks

[2020-01-22 19:28] sckott commented on #138
@maelle does this https://github.com/ropensci/vcr#terminology make sense?

[2020-01-22 20:19] aaronwolen commented on #136
That's how I was planning to set up osfr: configure vcr's log location, record mode, and matching params  in `helper-osfr.R`,  then specify a new cassette `dir` at the top of each individual test file.

Not sure how best to implement this yet but I'll think about it.

[2020-01-22 21:01] sckott commented on #136
sounds good.

not at all judging, just curious about the motivation for different directory for each test file?

[2020-01-23 06:04] maelle commented on #138
Yes, thank you! Small typo "casette" and instead of "by the tests" why not write the path?

[2020-01-23 14:38] aaronwolen commented on #136
I sense judging... 🙂

I perform a lot of the same setup steps in each osfr test file (generate a project, add a directory, etc) in order to start with blank slate on OSF, so organizing cassettes into directories means I don't need to worry about creating unique names, e.g.:

[code]

There are few minor issues with request matching that have prevented me from recording multiple requests to a casset

[2020-01-23 16:57] #138 closed

[2020-01-23 16:57] #139 closed

[2020-01-23 17:23] #140 closed

[2020-01-23 17:23] sckott commented on #140
thanks again

[2020-01-23 17:26] sckott commented on #136
Makes sense. There may be best practices that have arisen in other language communities that I don't know about - can take a look at some point - a nice advantage of porting code from a long standing community

[2020-01-28 19:03] sckott commented on #137
thanks @maelle - I like it.

To see if I understand, you're proposing a new vcr helper function wrapping `test_package`? Or just using existing functions?

[2020-01-28 19:04] maelle commented on #137
I don't know what would make the most sense! vdiffr has a separate function for recording fixtures.

[2020-01-28 19:10] sckott commented on #137
I think (not positive though) that all we'd need to do is document that one could set an env var to whatever (e.g., "foobar") and then tests would run even though a "real" key was not present. does that seem right?

[2020-01-29 05:13] maelle commented on #137
It does, but I'd like for the env var to be set by a line in a test setup file. So the maintainer has to comment out this line to record fixtures, but contributors don't even need to think about changing/setting the env variable.

[2020-01-29 17:55] sckott commented on #137
hmm, okay.

[2020-01-29 19:16] maelle commented on #137
Less work for everyone except for vcr maintainer 😉

[2020-01-31 21:53] sckott opened #142 "add importfrom getParseData"
`importFrom("utils", "getParseData")`

after PR is merged

[2020-02-03 19:38] sckott opened #143 "vcr is not handling recording bodies in POST requests"
e.g,

[code]

[code]

body - string - should not be empty in the request

[2020-02-04 12:12] maelle opened #144 "use_vcr(): context() no longer recommended"
The example test file created by `use_vcr()` contains a `context()` line which is no longer recommended cf https://testthat.r-lib.org/news/index.html#reporters " We no longer recommend the use of context() and instead encourage you to delete it, allowing the context to be autogenerated from the file name."

[2020-02-04 16:03] maelle commented on #137
I've thought a bit more about this whilst trying to add vcr tests to rhub.

# Recording mode
* Everything as usual
* Make sure `vcr_configure()` has `filter_sensitive_data`
* Have a look at the fixtures to be sure they do not contain anything sensitive.

# Testing mode (in particular CI, external collaborator, when no API key/token present)
* Mock your own package functions so that e.g. `yourpkg::

[2020-02-04 16:27] sckott commented on #144
thanks, will change

[2020-02-05 16:15] maelle commented on #117
Ideal build matrix IMO

* A few builds with vcr turned on
* A build with vcr turned off **only for commits within the repo** (or any condition ensuring one doesn't run tests with vcr turned off in the absence of tokens etc)

[2020-02-05 16:18] maelle commented on #117
(plus with the re-record you mention)

[2020-02-05 18:25] sckott commented on #137
we talked about potentially adding to vcr:

- a `setup()` method, like that for testthat
- a `teardown()` method, like that for testthat

testthat has fxn `testthat::is_testing` (just sees if the env var `TESTTHAT` is true) - could be useful

[2020-02-05 19:54] sckott commented on #117
does that just mean no PR's?

[2020-02-05 21:37] #142 closed

[2020-02-05 21:37] sckott commented on #136
@aaronwolen does #141 fully address this issue?

[2020-02-05 21:49] aaronwolen commented on #136
Yes 👍

[2020-02-05 21:57] #136 closed

[2020-02-06 05:09] maelle commented on #117
No PRs from external repos

[2020-02-06 05:34] sckott commented on #117
so PRs from another branch within the repo + commits to default branch?

[2020-02-06 05:48] maelle commented on #117
Yes

[2020-02-06 09:14] maelle opened #145 "Contributing advice template?"
Packages that use vcr for testing have the need for similar guidelines regarding testing (at least as long as the use of cassettes isn't widespread).

* Could a template live somewhere in this package?
* It might include a part that says "fill this in with workflow regarding setup/teardown" cf #137
* It might give a link to the book
* Could it be mentioned by `use_vcr()`, "add the following lines

[2020-02-06 09:42] maelle commented on #25
Not that I have time at the moment :crying_cat_face: but this and #110 seem perfect issues to dive into the package code!

* Find all current messages and wrap them like usethis does maybe (usethis.silent/vcr.silent)
* Add more messages

[2020-02-06 09:43] maelle commented on #72
Wow this sounds very cool. (well less so for external collaborators)

[2020-02-06 09:47] maelle commented on #82
maybe `use_vcr()` should add a link to the docs about sensitive data. I.e. another explicit item after the item called `learn_more`.

[code]

[2020-02-06 17:07] sckott opened #146 "Add record_on_error configuration option?"
see https://github.com/vcr/vcr/pull/765

[2020-02-06 17:16] sckott commented on #25
good idea - and I added a label https://github.com/ropensci/vcr/labels/informing-the-user - ther's a third one too

[2020-02-06 17:20] sckott commented on #82
Yes, good idea!

[2020-02-06 17:21] sckott commented on #72
it does seem doable at least, haven't tried it yet though

[2020-02-06 17:41] sckott commented on #145
Good idea.

probably yes

Maybe `use_vcr` could mention that the user can run another function to get this template? as it might be too much to have the info that `use_vcr` prints plus all of this.

[2020-02-06 17:44] sckott commented on #117
what does "A few builds with vcr turned on" entail? How are those builds different? can you list all the builds out?

[2020-02-06 18:59] maelle commented on #117
Ah sorry, one would be enough but often people already have several builds (e.g. a matrix with different OS and R versions)

[2020-02-08 01:37] adamhsparks opened #147 "Enabling vcr causes test to fail"
I'm attempting to set up chirps, https://github.com/agrobioinfoservices/chirps, to use vcr for our server queries.

However, when I set it up and subsequent to running the first test, it will fail on the second or third or ...

[code]

To query the API three requests are made. The first is to request the data, the second measures the progress in preparing the data (that's the error URL above), the

[2020-02-08 07:01] sckott commented on #147
thanks for the report @adamhsparks  I'll have a look ...

[2020-02-11 12:02] maelle opened #149 "Add grouping to the reference page of the pkgdown website?"
It'd make the reference page easier to browse, and the most important functions could come first.

[2020-02-11 12:06] maelle opened #150 "Could one use vcr for vignettes?"
And if so how could the setup work? Could there be a vcr knitr engine, so one would write

[code]

and fixtures would be saved somewhere?

[2020-02-11 16:34] sckott commented on #150
i know less than nothing about knitr engines, so can't help there, but i don't see why one couldn't use vcr for vignettes. i guess there's caching in vignettes already, so would the use case be that a person would want the code in the vignette to run rather than being fully cached except wanting the HTTP requests/responses to be cached so those don't fail?

[2020-02-11 16:36] sckott commented on #117
Should we add some text to the book for this?

[2020-02-11 16:36] maelle commented on #150
right not sure how much it brings compared to knitr caching :thinking:

[2020-02-11 16:38] sckott commented on #150
it's probably a good thing to have all non http request code run each time as long as it isn't super long time in case any dependencies/pkg code changes?

[2020-02-11 16:39] maelle commented on #117
Yes but ideally it'd go with an example package repo. I was thinking that example repo could have two GitHub actions workflows, 1 for any push with vcr turned on, and 1 that runs regularly with vcr turned off.

how could one create that example package?

[2020-02-11 16:43] sckott commented on #117
You could use the crandb api or the cranchecks api or similar

[2020-02-11 16:45] sckott commented on #149
yes, good idea!

[2020-02-11 17:12] aaronwolen opened #151 "Cassette options in vcr configuration are ignored"
The following cassette options can be set w/ `vcr_configure()`

- `record`
- `match_requests_on`
- `re_record_interval`
- `clean_outdated_http_interactions`
- `allow_unused_http_interactions`
- `serialize_with`
- `persist_with`
- `preserve_exact_body_bytes`

but aren't actually used anywhere. It seems like `insert_cassette()` and `use_cassette()` should inherit values for those params from `vcr_c`

[2020-02-12 17:57] sckott opened #152 "helper fxn to get webmockr/vcr versions used to record each fixture"
In going through the process of submitting a new version of a package that uses vcr, i was re-recording cassettes with the newest vcr and webmockr versions on cran. And i thought it would be easier if I could tell what fixtures had been recorded with old versions of webmockr/vcr

a draft function

[code]

[code]

gives (with some lines removed for brevity)

[code]

screenshot in brief for some col

[2020-02-12 18:24] aaronwolen commented on #152
I definitely see the utility and I love how your implementation leverages the cli package.

I'm wondering if we need a wholly new function for this since `cassettes()` already gets us pretty close:

[code]

[2020-02-12 18:51] sckott commented on #152
good catch! totally forgot about that fxn. i'll see about leveraging `cassettes()` instead ...

[2020-02-12 19:01] aaronwolen commented on #152
Sort of relates to our previous discussion re cassette helpers and `cassette_files()` vs `vcr_files()`.

What do you think about adding something like `list_cassettes()` (the vcr equivalent of `list.files()`), that just returns a vector of filepaths for (true-positive) cassettes in `vcr_c$dir`?

My sense is it might be useful enough to export and could then be used internally by other functions li

[2020-02-12 21:25] sckott commented on #152
a `list_casettes` function sounds good. would be nice if it could collect which vcr/webmockr version, and cassette names used in each file too - then `recorded_with` can use that output

what does true-positive mean?

[2020-02-12 21:36] sckott commented on #151
Thanks for raising this issue. I agree that `insert_cassette()` and `use_cassette()` should inherit from whatever the user sets with `vcr_configure()` - but that the 2 former functions can override those defaults if the user sets them. i guess we set all those parameters to default of `NULL` in `insert_cassette()` and `use_cassette()` ?

[2020-02-12 23:19] aaronwolen commented on #152
I just meant it should filter out non-cassette files (false positives), which will probably require reading the first line and checking for `http_interactions`. Currently, `cassettes()` gives me

[code]

Maybe the output should be more inline with `fs::file_info()`: a `data.frame` with one row per cassette that includes columns for file path, modification date, vcr/webmockr version, etc.

Or that

[2020-02-13 16:29] sckott commented on #152
okay, agree on true thing.

right, `cassettes()` currently doesn't do what you'd expect when run from the root of a repo - we need to fix that so it figures out where the cassettes are stored and then can do the right thing. (Lets open an issue for this)

Yes, sounds good to have a data.frame like `fs::file_info` makes

[2020-02-13 19:24] sckott commented on #147
@adamhsparks was trying to look at this, but

[code]

doesn't seem to be working, maybe its down right now?

[2020-02-13 19:29] kauedesousa commented on #147
Hi @sckott
The server is down, I just tried via browser and it return an error

[2020-02-13 19:36] sckott commented on #147
okay, thanks, will try again later

[2020-02-13 21:15] sckott commented on #149
now done here https://docs.ropensci.org/vcr/reference/index.html - any thoughts @maelle or @aaronwolen on the groupings of functions?

[2020-02-13 21:58] sckott commented on #150
see also #20

[2020-02-13 21:59] sckott commented on #5
i dont remember what this was about, closing

[2020-02-13 21:59] #5 closed

[2020-02-13 21:59] sckott commented on #23
nah, no ones asked for it either, closing

[2020-02-13 21:59] #23 closed

[2020-02-13 23:59] sckott commented on #53
I don't see a way of doing this - besides, the only one not supported is `curl`, closing

[2020-02-13 23:59] #53 closed

[2020-02-14 01:51] sckott commented on #74
work on branch https://github.com/ropensci/vcr/tree/replay-requests-timing

docs for pollyjs timing config https://netflix.github.io/pollyjs/#/configuration?id=timing
where its implemented in pollyjs:
- https://github.com/Netflix/pollyjs/blob/d7e1303262f0a0231581bbf3e5f82af5d89a2568/packages/%40pollyjs/adapter/src/index.js#L196
- https://github.com/Netflix/pollyjs/blob/82b45dd49375b3e756bde16eb3d2

[2020-02-14 18:57] #109 closed

[2020-02-14 18:59] #149 closed

[2020-02-14 19:03] #144 closed

[2020-02-14 19:04] sckott commented on #103
wait for https://github.com/ropensci/vcr/issues/152 to have a full listing of test files, cassettes named within each test file, and associated fixture files

[2020-02-14 20:54] #131 closed

[2020-02-15 00:39] sckott opened #155 "review allow_playback_repeats configuration option"
my hunch is this is not used correctly right now

It's used in the `HTTPInteractionList` class in the method `matching_used_interaction_for` at https://github.com/ropensci/vcr/blob/master/R/http_interaction_list.R#L225 & usage in ruby vcr https://github.com/vcr/vcr/blob/master/lib/vcr/cassette/http_interaction_list.rb#L91-L94

demonstration of how it should work in Ruby vcr https://relishapp.com/v

[2020-02-17 22:26] sckott commented on #147
still down, correct?

[2020-02-18 22:23] #151 closed

[2020-02-19 19:49] aaronwolen commented on #143
I just ran into this w/ osfr .

Do you know if the ruby version includes

[code]

in cassettes for requests with no bodies?

[2020-02-19 20:03] sckott commented on #143
ruby vcr does have an encoding value no matter what I think, but sring is left as `''` when no request body is sent

So with dev vcr and webmockr, i have actually got tests to work with POST requests. See this test file: https://github.com/ropensci/rgbif/blob/master/tests/testthat/test-occ_download.R & here's one of the fixtures: https://github.com/ropensci/rgbif/blob/master/tests/fixtures/occ_dow

[2020-02-19 20:14] aaronwolen commented on #143
Ah, dang. I misinterpreted your OP as "an empty body should not be included in the request".

The problem I'm having is requests without bodies fail to match when `"body"` is one of the included matchers. I'll open a separate issue.

[2020-02-19 20:28] aaronwolen opened #157 "Request matching fails for empty bodies when "body" is one of the matchers"
[code]

Same request fails to match w/ `"body"` matching turned on

[code]

but matches fine when `"body"` matching is disabled:

[code]

<sup>Created on 2020-02-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-02-19 21:26] sckott commented on #157
thanks, having a look

[2020-02-20 01:29] sckott commented on #157
@aaronwolen see branch https://github.com/ropensci/vcr/compare/fix-empty-body-match

I think this fixes it, all existing tests and checks work with this

[2020-02-20 01:29] sckott commented on #157
is this change risky at all?

[2020-02-20 01:40] sckott commented on #157
added a test file for this

[2020-02-20 16:57] aaronwolen commented on #157
That worked for me. It seems like the right thing to do. What makes you think it be risky?

[2020-02-26 14:23] maelle opened #158 "failure on Windows"
cf https://github.com/ropensci/ropenaq/runs/469919162?check_suite_focus=true

I'm guessing it's an encoding issue :wink: :sob:

[2020-02-26 14:58] sckott commented on #158
did you try setting `preserve_exact_body_bytes = TRUE` yet? it may be that yaml pkg is not handling the characters well, but might be fine if its a base64 encoded string

[2020-02-26 15:39] maelle commented on #158
Thanks! I get new failures now https://github.com/ropensci/ropenaq/runs/470099508

[2020-02-26 16:27] sckott commented on #158
it looks like you have the same cassettes though - i should have said use `preserve_exact_body_bytes` and re-record cassettes

[2020-02-26 18:03] maelle commented on #158
I thought I had https://github.com/ropensci/ropenaq/commit/3be1989ac607f604a1b02e8767c2208a4373620d but I'll retry

[2020-02-26 18:59] maelle commented on #158
This is my config

[code]

Re-recording doesn't seem to change much https://github.com/ropensci/ropenaq/commit/d68e840000c2de917505ade4d91175f3eda245aa

[2020-02-26 19:59] sckott commented on #158
what version of `vcr` do you have?

[2020-02-26 20:17] amoeba opened #159 "Slashes in cassette name causes cryptic error"
Bit of an edge case here but I thought I'd report. If I use a cassette name like "foo/bar" I get a cryptic error.

Steps to reproduce:

1. Wrap a chunk of code that hits the network in a `use_cassette` block, specifying a cassette name with a forward slash in it. e.g., "foo/bar"
2. Run devtools::test() so the test runs
3. Observe the below error

Example:

In my test:

[code]

Truncated `devtools:

[2020-02-26 21:03] sckott commented on #159
thanks, we've been dealing with trying to handle invalid cassette names (#116) - looks like another case we need to handle, will have a look

[2020-02-27 01:56] sckott commented on #159
@amoeba was the idea to have the cassette name by `x` within a `queue` directory? Or to be `queue/x`?

[2020-02-27 02:15] sckott commented on #159
I think we should not allow slashes, so I've added those to disallowed characters in cassette names. If you get the dev version `use_cassette` will check for disallowed cassette name characters, and you can add a helper fxn `check_cassette_names()` to the `helper-pkgname.R` file in your pkg which will check only for duplicated cassette names

[2020-02-27 05:01] amoeba commented on #159
The idea was just to match the cassette name to the `testthat` context I was using. So there's no need for me to have the slashes and, as a user, I'd be totally fine having them escaped or get an error if I try to use them. Thanks!

[2020-02-27 08:19] maelle commented on #158
0.4.0, I'll upgrade to the dev version!

[2020-02-27 08:51] maelle commented on #158
Ok, I updated webmockr and vcr using their dev version (and set the `Remotes` field of `DESCRIPTION` to point to them), recorded the cassettes now I get only one failure in one test. The problem is no longer encoding in the body, but in the URI. :grimacing:

https://github.com/ropensci/ropenaq/runs/471886535?check_suite_focus=true

[code]

It's a test called "Queries work with spaces and accents".

[2020-02-27 14:16] aaronwolen commented on #159
Might be worth looking at `fs::path_file_sanitize()`, which includes a comprehensive list of illegal characters that should be removed from file names.

[2020-02-27 16:17] sckott commented on #159
thanks @aaronwolen  - will do

[2020-02-27 16:26] sckott commented on #147
looks like its back up, will give a look today

[2020-02-27 17:45] sckott commented on #158
thanks, I'll have a look

[2020-02-28 00:36] sckott commented on #158
works fine locally. ugh, i guess an encoding issue on windows only. imagine it's in the code for comparing requests.

[2020-02-28 01:34] sckott commented on #158
I was able to replicate the issue on a windows VM - I can't figure out what the non-escaped query string should look like for the failing test. I get

[code]

to clarify (and still on windows): I could only replicate the error when using your original casette file in your github repo. Hoewever, if I deleted the cassette file, then ran tests again, it did not fail. So perhaps the cassette is record

[2020-02-28 05:49] maelle commented on #158
So how should I proceed to try and help debug this next week?

[2020-02-28 17:33] #159 closed

[2020-02-28 17:56] sckott commented on #158
we do a pretty simple comparison of the URIs here https://github.com/ropensci/vcr/blob/master/R/request_matcher_registry.R#L48 - i guess we need to figure out a way to make sure the two strings are not messed up on windows, not sure yet

[2020-02-28 19:36] amoeba commented on #159
Thanks @sckott and @aaronwolen !

[2020-02-28 19:41] sckott commented on #147
With the server up now ... When I run tests against your existing cassette file, i get the same error. But when I delete the cassette, and run tests, a new cassette is recorded, test again, and it works just fine. Did the package code change after recording the cassette? If so, that may be the cause

[2020-02-28 21:58] adamhsparks commented on #147
I just tried it again and get exactly the same result I did before.

[code]

[2020-02-28 22:02] sckott commented on #147
thanks @adamhsparks

can you share your session info please? want to see what versionf of webmockr and vcr you have

[2020-02-28 22:04] adamhsparks commented on #147
[code]

[2020-02-28 22:07] sckott commented on #147
thanks! Can you update to devel vcr and webmockr like `remotes::install_github("ropensci/vcr")` and try again (deleting fixture first)

[2020-02-28 22:20] adamhsparks commented on #147
WOOT!

[code]

[2020-02-28 22:34] sckott commented on #147
nice, lots of changes in the devel version https://github.com/ropensci/vcr/milestone/10?closed=1 as you can see.

[2020-02-28 22:44] adamhsparks commented on #147
Nice. I suppose we need to wait for the next release on CRAN of VCR before we use it in chirps?

[2020-02-28 23:15] sckott commented on #143
this should be good to go, checking rgbif ...

[2020-02-28 23:52] sckott commented on #147
right. i need to get webmockr up first (probably by monday/tuesday), then if that goes as planned vcr up by wednesday/thursday

[2020-02-28 23:53] adamhsparks commented on #147
Great! That shouldn't be a problem for us at all.

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology  |  Centre for Crop Health
Institute for Life Sciences and the Environment (ILSE)  |  Research and Innovation Division
University of Southern Queensland | Toowoomba, Queensland | 4350 | Australia

Phone: +61746311948
Mobile: +61415489422
On 29 Feb 2020, 09:52 +1000, Scott Chamberlai

[2020-02-29 01:42] #143 closed

[2020-02-29 01:57] sckott commented on #157
it works I think actually

[2020-02-29 02:00] #157 closed

[2020-03-02 14:20] maelle commented on #137
Related PR https://github.com/ropensci/rredlist/pull/41/

[2020-03-02 14:22] maelle commented on #137
with the PR above, I'm not sure anything other than docs is needed in vcr / the http testing book. :thinking:

[2020-03-04 00:26] sckott opened #162 "check if vcr works with tinytest"

[2020-03-04 00:26] #147 closed

[2020-03-04 00:27] sckott commented on #162
started on this on branch https://github.com/ropensci/vcr/compare/tinytest

[2020-03-04 09:12] maelle commented on #145
For packages with authentication, the template should also include a line about what the vcr config of the package does to protect API keys.

[2020-03-04 09:21] maelle commented on #121
Or you could have a function called `vcr_help()` that'd print all the message that's currently printed to screen, and in e.g. tests (using the env variable that tells you whether the code is run in a test) the message would be "Error short blabla, run vcr::vcr_help()" or so?

[2020-03-04 16:03] maelle commented on #145
In the template, mention how vcr works, but also basic troubleshooting advice (or a link to basic troubleshooting advice) such as "Have you tried re-recording the fixture(s)?".

[2020-03-04 17:44] sckott commented on #145
good idea

in this chapter? https://books.ropensci.org/http-testing/gotchas.html

[2020-03-04 17:49] sckott commented on #121
Possibly, I am re-factoring the error handler so the message gets created and stored, and then used as needed - so could store the full message in an environment

[2020-03-09 22:43] sckott opened #163 "UnhandledHTTPRequestError fixes"
from @aaronwolen in #154

[code]

[2020-03-10 01:39] #121 closed

[2020-03-14 01:55] sckott opened #164 "large files from writing to disk can make a package build too large"
@maelle @aaronwolen need your help on this.

So with the support for writing to disk in vcr, the files written to disk especially can be quite large. Fixtures can be large too, but since they're plain text it seems like they generally are pretty small.

Lets say the files recorded to disk are in `tests/files`.  If you add `tests/files` to `.Rbuildignore` tests run fine if you run them with `devtoo

[2020-03-14 01:55] sckott commented on #164
sort of related https://github.com/ropensci/vcr/issues/135

[2020-03-14 06:03] maelle commented on #164
Would it work for r cmd check to use inst/  and .Rinstignore? Probably not?

[2020-03-14 15:33] sckott opened #165 "what behavior do we want when file on disk is gone for any reason"
That is, say a http request uses vcr for a test. That http request writes to disk. Later the file on disk is somehow deleted, or moved. The test is run again, but file on disk is gone. What behavior do we want? Right now we have, with example from `rnoaa` package:

With the file present

[code]

After deleting the file

[code]

Is that behavior good?  Do we want a more meaningful message? Do we wa

[2020-03-16 18:54] sckott commented on #145
an eg PR https://github.com/ropensci/taxize/pull/805

I think we need some tooling for contributors to help them manipulate cassettes (and files on disk if applicable) - e.g,. we could have a fxn that takes as input the exported package fxn name the user is working on testing, then delete all cassettes associated with that fxn. I guess ideally it'd not be greedy, so conservatively deleting cassett

[2020-03-16 22:21] sckott commented on #164
hmm, maybe, will have a look

[2020-03-17 21:03] aaronwolen commented on #164
Yeah, this is tricky...

Would adding support for transparent compression/decompression help?

[2020-03-17 21:39] sckott commented on #164
@aaronwolen  Thats a good idea. Have not tried it yet, so can't comment on it, but does seem like a harder route potentially.

so the commit above in the rnoaa package, I tried @maelle 's approach putting files in `inst/test_files/` instead of in `tests/` - and that does seem to work in that we can still run tests with http requests that write files to disk & the on disk files don't increase the p

[2020-03-17 22:05] sckott commented on #164
the checks for rnoaa for the above setup is mostly working https://travis-ci.org/github/ropensci/rnoaa/jobs/663700897 - i think the failing test is unrelated but still checking into it

[2020-03-20 23:52] sckott commented on #135
I think we need to enforce when the user sets `write_disk_path` in `vcr_configure()` that the path is relative to the fixture/cassette path.

[2020-03-20 23:53] sckott commented on #135
makes sense to do the check within `vcr_configure()` probably so that we maybe don't need to do those path checks within the rest of the package

[2020-03-21 10:18] maelle commented on #164
For CRAN, tests will probably need to be turned off anyway?

[2020-03-21 10:25] maelle commented on #164
I'm about to submit a new version of ropenaq to CRAN and it's quite big because some fixtures are very big. I'm not sure yet how I'll handle that.

[2020-03-21 10:28] maelle commented on #164
One thing is that I probably don't need the fixtures to be that large but to make them smaller I'll need to edit them by hand. Not sure how much that applies to large files written to disk i.e. can one make them smaller by hand/make fake files instead, without too much hassle.

[2020-03-21 10:54] maelle commented on #164
btw does the size limit apply to tests?

"Packages should be of the minimum necessary size. Reasonable compression should be used for data (not just .rda files) and PDF documentation: CRAN will if necessary pass the latter through qpdf.

As a general rule, neither data nor documentation should exceed 5MB (which covers several books). A CRAN package is not an appropriate way to distribute course no

[2020-03-21 15:35] maelle commented on #158
maybe the two URIs should be compared after being `URLencode()`ed or so?

[2020-03-22 16:17] sckott commented on #164
depends i think, if the test files don't make the package too big then they could be run

[2020-03-22 16:20] sckott commented on #164
i guess that would be very case dependent - and tricky: to make sure the hand modified fixture will still work with the rest of the package code

[2020-03-22 16:22] sckott commented on #164
I don't know actually, all I was looking at was the file size after installing with various configurations.

[2020-03-23 06:18] maelle commented on #158
New platform to reproduce the error :smirk: https://cloud.r-project.org/web/checks/check_results_ropenaq.html i.e. https://blog.r-hub.io/2019/04/25/r-devel-linux-x86-64-debian-clang/#r-devel-linux-x86-64-debian-clang

[2020-03-23 15:43] sckott commented on #158
thanks, okay, but we can't test `r-devel-linux-x86_64-debian-clang` on rhub right now though right? rub bug or something

[2020-03-23 17:06] #135 closed

[2020-03-23 17:07] maelle commented on #158
Right. That said any R-hub Windows platform should reproduce the bug.

[2020-03-24 12:37] maelle commented on #117
I've just added VCR_TURN_OFF to https://github.com/ropensci/ropenaq/blob/master/.github/workflows/R-CMD-check.yaml (but some builds are failing because of dependencies). All jobs are run once a day, I think I might switch to once a week.

[2020-03-24 12:39] maelle commented on #150
Right.

A downside I was thinking about is the size of cassettes but maybe one could re-use some of the test cassettes to have less cassettes overall. :thinking:

[2020-03-24 12:56] maelle commented on #165
Maybe instead of "file" the message could say "file supposedly cached by vcr" or so? The phrase I'm giving is very bad, what I mean is a phrase that'd make it clear that what's gone should have been cached / is referenced to in a cassette?

[2020-03-24 12:59] maelle commented on #145
That sounds like an excellent idea! How would you guess which cassettes are associated with the function?

* If the test file is named correctly, then all cassettes created in the test file corresponding to the function.

* But what about cassettes created by other test files?

Should you open another issue about this function?

And maybe I'll wait on the contributing advice template, if the workf

[2020-03-24 15:38] sckott commented on #150
could definitely try this. though what if a test cassette is quite old, and the package maintainer doesn't realise this?

[2020-03-24 15:40] sckott commented on #165
yeah, maybe ideally point to the code line in the casssette that references the file that is gone. not sure if that's easy to do or not

[2020-03-24 15:40] sckott commented on #117
thanks for trying that, hopefully it works well

[2020-03-24 15:48] sckott commented on #145
I don't know yet. leveraging whatever covr does perhaps

this issue: https://github.com/ropensci/vcr/issues/103 which is waiting on https://github.com/ropensci/vcr/issues/152 to be done first.

[2020-03-24 16:20] maelle commented on #150
then they should use re-record :wink: but yeah you're right.

[2020-03-24 16:20] maelle commented on #165
even just the cassette filename would help

[2020-03-24 16:50] sckott commented on #150
true

[2020-03-24 16:50] sckott commented on #165
true, good point

[2020-03-24 18:57] sckott commented on #164
I think we're sorted out on this.

- seems like tests are not included in pkg installation size
- users can add files stored on disk associated with fixtures to `.Rinstignore` if needed
- two example pkgs with files written to disk where pkg install size is good: rnoaa, crminer
- i'll add documentation on this to the package

[2020-03-24 20:51] #164 closed

[2020-05-02 23:04] juliasilge opened #167 "Problem with `filter_sensitive_data` not replacing keys"
Hello! 👋 We are trying to get vcr tests set up in the qualtRics package and are running into some challenges. The first one is that `filter_sensitive_data` does not seem to actually be filtering out the important strings. This work is being done in ropensci/qualtRics#140 so you can check out what's in the current `helper-qualtRics.R` file if you like:

[code]
When I run `devtools::test()` I do hav

[2020-05-03 16:18] sckott commented on #167
thanks for this @juliasilge

is there any chance I can try to replicate the issue? I don't have a qualtrics account, but is there a sandbox qualtrics instance I can use?

[2020-05-03 17:47] juliasilge commented on #167
The [free accounts unfortunately don't allow API access](https://www.qualtrics.com/support/survey-platform/managing-your-account/trial-accounts/). I will try to see if there is some way to share info.

[2020-05-04 14:11] sckott commented on #167
it looks like in all of the tests in that PR that the `qualtrics_api_credentials ` fxn is called https://github.com/ropensci/qualtRics/pull/140/files?file-filters%5B%5D=.R&file-filters%5B%5D=No+extension#diff-5b39ae76315a9d1bdbaba3ee3f352b5aR4 before the test runs - but internally the fxn is looking for the env var that it reads from your .Renviron file, not the one that was just set in the R sess

[2020-05-04 15:10] sckott commented on #167
or keep the `qualtrics_api_credentials()` fxn call but then do the `readEnviron` thing right after (i can't remember the exact fxn name)

[2020-05-06 18:39] sckott commented on #167
@juliasilge did that help?

[2020-05-07 00:06] juliasilge commented on #167
Thank you so much for looking at this!

I didn't clarify before that I _was_ removing that line with the `qualtrics_api_credentials()` to set up the fixture, just like you described. The fixture is created fine but my API token is not replaced. If I run `devtools::test()` with this:

[code]

Then a fixture `all_mailinglists.yml` is created in my `/tests/fixtures` folder but is still has my API key

[2020-05-07 16:10] sckott commented on #167
Thanks for the update. Do you have other instances of `qualtrics_api_credentials()` called in any of your tests? If so, wouldn't that set the api key to a different value?

[2020-05-07 23:50] juliasilge commented on #167
OK, it took some doing but I think we got [vcr up and running for qualtRics](https://github.com/ropensci/qualtRics/pull/140/).

I did have to do some manual editing of the fixture `.yml` functions to make URLs that webmockr would recognize as registered requests, as touched on in ropensci/webmockr#102. My workflow was to:

- Create each fixture for each unit test interactively and make sure they s

[2020-05-08 17:30] sckott commented on #167
Thanks Julia.  Hmm, that workflow shouldn't be necessary. I'm not quite sure what's going on - you shouldn't have to manually edit the fixtures, so we have more work to do here to make it so that you just wrap your calls in `use_cassette` and you're done.

i see that you have some test files that use webmockr and some that use vcr. Are you saying above that you get webmockr errors for the tests th

[2020-05-08 19:36] juliasilge commented on #167
Yes, that's right -- webmockr errors (unregistered requests) on the vcr tests.

[2020-05-08 21:17] sckott commented on #167
Weird. I don't think that should be happening.  I'm having a hard time replicating your errors..   It seems you still have those calls to `qualtrics_api_credentials` in the test files even though you said above you were going to remove those. maybe I'm missing something?

[2020-05-08 21:26] juliasilge commented on #167
I remove those lines when I want to use real API credentials that are in my `.Renviron` file. Calling `qualtrics_api_credentials()` stores values in those environment variables (and optionally, writes them to `.Renviron`). The qualtRics functions won't run unless there is something in the environment variables.

[2020-05-15 19:57] sckott commented on #167
Okay, thanks for the explanation.  Sorry about this not working super cleanly.

May be related to https://github.com/ropensci/vcr/issues/137

[2020-05-26 08:40] alex-gable opened #168 "check_cassette_names fails when function argument name included"
I've created [a repo to reproduce the below scenario](https://github.com/alex-gable/catfact).

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

`check_cassette_names` fails when the `name = {cassette name}` form is used to call the function. debugging shows that the issue is in the `cassette_names` function.

[code]
Debugging the internals led me to discover that the

[2020-05-26 18:39] sckott commented on #168
thanks for the issue @alex-gable  and for the thorough dive into the problem.

I admit the solution in `check_cassette_names()` isn't great. Partly we're limited because R doesn't have a great way to parse/manipulate/inspect ASTs.

I'll have a look and see if there's a solution that will be more general

[2020-05-26 18:57] sckott commented on #168
it gets more complex too:

[code]

[2020-05-26 22:18] sckott commented on #168
I started working on this, but its complicated. we need to account for:

- `vcr::use_cassette("foo"`
- `vcr::use_cassette(name = "foo"`
- `use_cassette("foo"`
- `use_cassette(name = "foo"`
- `x = "foo"; vcr::use_cassette(x`
- `x = "foo"; vcr::use_cassette(name = x`
- similar to above, but `x` defined somewhere else in the test file
- multiple `use_cassette` calls per test_that block

tried breakin

[2020-05-28 13:17] DaveParr opened #169 "Having trouble testing POST to dev.to using httr"
I'm building an API package to the dev.to api [here](https://docs.dev.to/api/#operation/createArticle) and having trouble testing a post method.

My current version of the package is available [here](https://github.com/DaveParr/dev.to.ol), and the specific commit where the issue occurs is on dev branch [here](https://github.com/DaveParr/dev.to.ol/commit/e08d12c4cf0c59c113e922eb5d9e882571d4789a).

[2020-05-28 14:16] DaveParr commented on #169
Just spotted chapter 13 on security. Going through that now. Sorry, I missed it earlier :)

[2020-05-28 14:41] sckott commented on #169
Thanks for the issue @DaveParr !

Curious how you are running your tests. Did you see https://books.ropensci.org/http-testing/vcr-intro.html#check-vs-test

[2020-05-28 15:02] DaveParr commented on #169
I did. I'm running them as tests AFAIK. Using cmd+shift+T or through the 'test' button at the top of my test file.

Thanks for the fast response :)

[2020-05-28 16:46] sckott commented on #169
Okay, I see that cmd+shift+T runs `devtools::test()`.

Hmm, cloned your repo down, looking at dev branch. Looks like you don't have all the pieces set up. Did you run `vcr::use_vcr()`? I'd run that in your repo - which adds vcr as a Suggest, adds a `helper-dev.to.ol.R` file in `tests/testthat`. After I did that I think it's working locally for me.

Since there's auth keys here, definitely see http

[2020-05-29 11:00] DaveParr commented on #169
I did not use `use_vcr`, thanks. I'll try that out over the weekend :)

[2020-05-29 16:09] DaveParr commented on #169
I see a little more I think now. I had very much misinterpreted how this worked. Very much my fault. A number of issues were occurring simultaneously, but I've now unpicked them.

So I have:

* realised now that the key actually was exposed in that commit referenced above, which I hadn't realised (my fault), and so I've revoked that key and regenerated it on dev.to. If I had noticed this it would

[2020-05-29 16:09] #169 closed

[2020-05-29 16:30] sckott commented on #169
this is great news that you got it working!

I think we need to make it more clear in the documentation that to get started, one should use `vcr::use_vcr` - we need a more clearly stated getting started section i think.

[2020-05-29 16:33] sckott opened #170 "getting started and use_vcr"
based in part on https://github.com/ropensci/vcr/issues/169 i think we need a better/more clear/easy to use Getting Started section in the docs and in the book. Set of a few steps to get started using vcr in a package. And we need to make more clear that `use_vcr` should be the first step

[2020-05-29 17:19] DaveParr commented on #170
If you'd like I'd be happy to take a first pass at the write up in the docs? If you'd rather someone with a bit more knowledge of the project did it though, that's great too. 👍

[2020-05-29 21:47] sckott commented on #170
Thanks for volunteering @DaveParr  !  I think a getting started section above the Usage section in the README here https://github.com/ropensci/vcr#usage and in the getting started vignette here https://docs.ropensci.org/vcr/articles/vcr.html would be great. If you submit a PR we can see if any changes should be made, etc.

[2020-05-30 11:31] DaveParr commented on #170
No sweat. Will have a look at it in the next few days :)

[2020-05-30 23:02] alex-gable commented on #168
it occurred to me that this functionality might be implemented in a package like [r-lib/styler](https://github.com/r-lib/styler/blob/master/R/parse.R)

apologize for not giving a more thorough inspection of how exactly that package could help. but something like a syntax highlighter or language server that returns a more rich syntax tokenization of R code.

[2020-05-30 23:11] alex-gable commented on #170
fwiw, I was flummoxed by how hard it was to find `use_vcr`.

it was frustrating not being able to reproduce the examples in either the [vcr introduction](https://docs.ropensci.org/vcr/articles/vcr.html) or the [http testing in R book](https://books.ropensci.org/http-testing/).

honestly I didn't really "get it" until I saw and used the [catfact repo](https://github.com/alex-gable/catfact).

I'd wo

[2020-06-03 20:14] sckott commented on #168
Good idea to look at styler. I should look to see if there's anything in there that may help

[2020-06-03 20:32] sckott commented on #170
Thanks for the feedback @alex-gable Yeah, I agree use_vcr should have been easier to find. PR #171 should help fix that.

That's a good idea. Would it make sense to include that as a vignette in the package and as part of the book?

[2020-06-09 17:57] sckott commented on #170
@DaveParr  you can do the vignette PR if you want - or I can do later

[2020-06-10 19:21] #170 closed, assigned to nobody

[2020-06-13 22:27] alex-gable commented on #170
@sckott sorry I was late to this one, but appreciate the quick turnaround. appreciate the help @DaveParr!

[2020-06-13 22:33] alex-gable commented on #22
@sckott is this functionality possible given the current state of the package?

Should I be approaching the problem of needing two cassettes (created and tested separately) to test a third function in a different way?

[2020-06-14 00:45] sckott commented on #22
it's not implemented yet

can you explain that use case in more detail, not sure I follow.

[2020-06-14 05:30] alex-gable opened #174 "Tests Not Idempotent"
Tests fail if run multiple times in the same R session.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

<details> <summary><strong>Example</strong></summary>

[code]
</details>

[2020-06-14 15:53] yogat3ch commented on #70
Hi @sckott, thank you for your work on this package! It was recommended to me as a solution for unit-tests in packages built around APIs. I'm currently implementing `vcr` across all the unit tests, but I'm running into an issue where `path` matching is necessary. The issue is described below:

I see that there are currently [matcher internal helper functions](https://github.com/ropensci/vcr/blob/7

[2020-06-15 05:23] alex-gable commented on #22
I’ve got a function `c` that internally calls functions`a` and `b`.

`c` makes no requests of its own.
`a` makes a request and has its own cassette.
`b` makes a request and has its own cassette.

In order to properly test the output of `c`, I need to ensure that when `a` and `b` are called, they return the contents of their cassette.

I suppose I could record a cassette for `c`, which would contai

[2020-06-15 17:40] sckott commented on #70
Thanks for your note here @yogat3ch

You're right, we didn't implement path and host yet. Main reason is I didn't have a use case myself yet, but I've been meaning to get it done. I'll have a look so I can give a better estimate of time

[2020-06-15 18:19] #98 closed

[2020-06-15 18:21] sckott opened #175 "move CI to gh actions"

[2020-06-15 18:29] #175 closed

[2020-06-15 20:46] sckott opened #176 "better explain what's going on with webmockr in Cassette class"
via #173

[2020-06-15 22:07] sckott opened #177 "request matchers: host and path"
via #70

[2020-06-15 22:41] sckott commented on #70
work on branch https://github.com/ropensci/vcr/tree/match-requests-host-path - should be close

[2020-06-15 22:49] #177 closed

[2020-06-15 22:50] sckott commented on #70
@yogat3ch  done now - can you test it out?, restart R, then install `remotes::install_github("ropensci/vcr")`, then try matching on host, path, or host and path

[2020-06-15 23:19] sckott commented on #22
Thanks, i see.

Looking at what Ruby does.

This use case makes sense, in which you have cassettes already created (below, foo and bar), and then you use those cassettes in a call to `use_cassesttes`

[code]

I've not been able to find much about `use_cassettes`  on the web, so I'm not sure if other use cases are supposed to be supported by this method, e.g, this doesn't quite makes sense:

[code]

[2020-06-15 23:54] sckott commented on #22
started working on https://github.com/ropensci/vcr/compare/use-cassettes - not working yet.

can't figure out how Ruby vcr makes it so that cassette request matching doesn't fail for http requests that don't go with each cassette. if you run `use_cassetttes` eg, it doesn't work

[2020-06-16 00:58] sckott opened #178 "some tests failing with dev webmockr"
[code]

seems to be coming from https://github.com/ropensci/webmockr/blob/master/R/adapter.R#L265

[2020-06-16 00:59] sckott commented on #174
I think that fixes it, let me know if it doesn't

by the way - CI is on gh actions now - see https://github.com/ropensci/vcr/actions?query=workflow%3AR-check

[2020-06-16 02:19] yogat3ch commented on #70
@sckott Totally understandable.
That was a hyper expedited fix 🙌 Thank you so much!

|√ |  OK | F | W |  S | Context |
|--| ----| ---- | ---- | -----| ---- |
|√|  71    | 0 | 0  |  0 | Test all endpoints accessible from the polygon function [132.1 s] |

== Results ========================================================
Duration: 132.1 s

OK:       71
Failed:   0
Warnings: 0
Skipped:  0

It looks

[2020-06-16 18:01] sckott commented on #70
@yogat3ch  Great, glad it works. Do let me know if any problems arise related to path/host matching

[2020-06-17 16:08] alex-gable commented on #22
In the example you made above, if your aim was to only have the salmon query in the `thing1` cassette, couldn’t you simply add the record:once option?

I don’t believe it’s a particularly elegant solution, but if I’m understanding `vcr/vcr`’s implementation correctly it would work. In all cases, it appears the order the cassettes are added to `use_cassettes` matters, and maybe that’s the trade off

[2020-06-17 16:24] alex-gable commented on #22
The lone test case in the original implementation seems to imply that the expected behavior would be using cassettes in an ordered manner.

https://github.com/vcr/vcr/blob/b38a38e6175af847f1c162e6bec29b9eadb12a9f/spec/lib/vcr_spec.rb#L355

[2020-06-17 21:18] sckott commented on #22
perhaps, can try

Good point about order, BUT the block of code passed in AFAICT gets passed to each execution of  `use_cassette` within `use_cassettes`, and that's where the error is coming from in R vcr. I don't quite understand how that doesn't cause an error in the ruby version. AFAICT the block of code that does HTTP requests

[code]

is passed as `&block` https://github.com/vcr/vcr/blob/mast

[2020-06-19 16:04] DaveParr opened #179 "Is this the correct way to test that an api function fails?"
In basic `test_that` the following is a super simplified example of testing that an error is generated:

[code]

x is 12, `Error: Test `is.character` on `x` returned an error.`, testthat silently passes.

A more complex example in my package is:
[code]

`check_status` expects a 200, but because the API key is going to fail, the function will actually return a `401`, which it's the `stop_if_not`.

[2020-06-19 17:43] sckott commented on #179
thanks @DaveParr I'll have a look

[2020-06-20 11:56] maelle commented on #134
Not sure if it's helpful but I use `httr::upload_file()` in a function and cannot create the fixture corresponding to that, I get a 500 error. https://github.com/maelle/goodpress/pull/8 I am happy to provide more information (the same code/test works without vcr).

[2020-06-20 12:02] maelle commented on #134
in the case of the API I'm working with, the filename is also passed as a header actually (`Content-Disposition`).

[2020-06-22 15:14] sckott commented on #134
Thanks @maelle - I'll have another look at this very soon since you are encountering this

[2020-06-22 15:29] sckott commented on #179
Doesn't the error happen during the `get_my_user()` call? if so, the `expect_error` call needs to be immediately wrapped around the `get_my_user()` call. like

[code]

[2020-06-24 01:47] yogat3ch commented on #70
Will do! No problems with multiple iterations thus far. Everything seems to be running smoothly!

[2020-06-25 13:04] DaveParr commented on #179
It probably is that. Sorry, musta had a mind fart when I was doing it the first time :)

[2020-06-25 13:04] #179 closed

[2020-06-25 14:53] sckott commented on #179
no worries, glad it works

[2020-09-04 19:54] pat-s opened #181 "Trouble getting tests working on CI"
Hi Scott,

thanks for this package and the amazing efforts around HTTP testing in R.

I am somewhat new to mocking and scratching my head what I might be doing wrong.
I followed the {vcr} intro and created a test file with cassettes which runs fine locally (making use of an API key).
I committed the cassettes and added the API key as a secret to the GHA build (maybe not even needed?).
In any case,

[2020-09-05 14:42] #174 closed

[2020-09-05 14:47] sckott commented on #158
Sorry for the delay on this @maelle - I assume this is still a problem, yes?

[2020-09-05 15:06] sckott commented on #181
thanks for the issue. don't know what is wrong at first glance. will keep looking.

fyi, looks like auth is sent in request headers https://github.com/ropenscilabs/circle/blob/21413279be13e1891b06866ed7428607474fdf32/tests/fixtures/new_build().yml so are exposed, not sure if thats okay or not

[2020-09-05 15:47] maelle commented on #158
I think so but haven't looked into it for a long time (thankfully you know I'll soon spend more time thinking about http testing!)

The test was https://github.com/ropensci/ropenaq/blob/ecd9d8635f761811edc99968609c3ff3ae62b21f/tests/testthat/test-buildQueries.R#L83

I see another test is failing at the moment, unrelated to vcr, sorry about that.

[2020-09-05 16:15] pat-s commented on #181
Not ok, already got automatically invalidated 😄

Can I also filter out the headers in the same way as the API key?

[2020-09-08 15:54] sckott commented on #181
Yes, the string you want to filter out can be anywhere in the request or response.

[2020-09-11 17:01] sckott commented on #181
@pat-s still not sure what's wrong, but a few things to try:

- try removing the parentheses from the file names. that's probably not the issue, but maybe worth a try
- is the `R_CIRCLE` env var set as a secret on github? make sure to add any other secrets that could show up in the http request or response to the `filter_sensitive_data` list of `vcr_configure()`
- is there any reason to suspect th

[2020-09-21 12:22] maelle commented on #162
did it work?

[2020-09-21 15:20] sckott commented on #162
don't remember, so long ago now. i don't think it worked, OR I didn't fully test it yet, not sure which one

[2020-09-21 15:27] maelle commented on #162
Ok

[2020-09-23 21:12] pat-s commented on #181
I thought I found the issue (see below) but the tests continue to fail.

Some functions make use of `gh::gh()` which requires a `GITHUB_PAT` for authenticating to GitHub.
In {tic} we set `GITHUB_PAT` to the `GITHUB_TOKEN` secret from GHA which comes with no relation to the user.

Setting a custom PAT for user authentication and passing the secret down to `gh::gh(.token = )` should solve the authen

[2020-09-24 23:38] sckott commented on #181
did you mean to finish that thought?

[2020-09-25 05:19] pat-s commented on #181
= I don't understand why it fails atm. I thought I had it.

Next step is probably to see what differs if a different user calls the function with the same PAT. Or inspect the logs in GHA.

[2020-09-26 18:29] aaronwolen commented on #165
Hey @sckott, late to the game here...

This may (or may not) be relevant to an issue I'm currently facing, so let me make sure I'm understanding your question correctly. Using [this test](https://github.com/ropensci/vcr/blob/13e4bc1ea8b4cc96aaaf89714a7b30301b0a725e/tests/testthat/test-ause_cassette_write_to_disk_binary_files.R#L6-L34) as a reference, which file is missing:
- the original that was

[2020-09-29 00:29] sckott commented on #165
thanks @aaronwolen - I think the file that is under the directory specified by `write_disk_path` - let me know if your issue is related to this threadd

[2020-10-06 17:52] sckott commented on #181
Maybe its this helper file? https://github.com/ropenscilabs/circle/blob/master/tests/testthat/helpers.R#L2

Both lines https://github.com/ropenscilabs/circle/runs/1157281856?check_suite_focus=true#step:12:154 and https://github.com/ropenscilabs/circle/runs/1157281856?check_suite_focus=true#step:12:184 say its the url `https://api.github.com/repos/pat-s/travis-testthat` that is being requested and

[2020-10-06 19:28] pat-s commented on #181
@sckott Wow! Thanks a ton for diving in so deep.

And you were completely right with all your assumptions. Tests passed! 🎉

So I'll continue rewriting all other tests with {vcr} and give the ropensci review a push soon (hopefully).

[2020-10-06 19:28] #181 closed

[2020-10-06 21:17] sckott commented on #181
glad it helped

[2020-10-16 10:04] maelle opened #182 "default secret purging?"
From httptest docs "By default, capture_requests will now purge any credentials contained in cookies, standard HTTP request headers, basic HTTP authentication methods, and OAuth token management objects."

[2020-10-16 12:14] maelle opened #183 "Should use_vcr() create a file called setup not helper"
https://testthat.r-lib.org/reference/test_dir.html#special-files

[2020-10-16 15:42] sckott commented on #183
yeah makes sense

[2020-10-16 15:56] sckott commented on #182
hmm, maybe. something to consider. Ruby webmock doesn't do this though, so just thinking of the wisdom of lots of previous experience, maybe it's not warranted or a good idea. will have to think about it more.

[2020-10-25 23:02] KevCaz opened #185 "using library(vcr) is actually mandatory"
Hi @sckott,

I have used `vcr` successfully today. There is one thing that was not clear to me until I looked at the code: `library(vcr)` is actually mandatory otherwise yaml files written are empty. My understanding is that is because of the initialization, i.e. the call to `.onLoad()`.

I think it would be worth mentioning this is the documentation and in the `herper*` file created by `vcr::use_

[2020-10-26 16:32] #183 closed

[2020-10-26 23:41] sckott commented on #185
Thanks @KevCaz , good idea!  You specifically mean just in the helper file, correct?

[2020-10-27 12:50] KevCaz commented on #185
In the helper file yes! And maybe one mention in the readme? In this block :arrow_down: (could be the same comment as in the helper file)

https://github.com/ropensci/vcr/blob/be3ab9c6d93b258967f4cb4ae6bcceadfadca112/README.Rmd#L65-L71

[2020-10-27 13:31] KevCaz commented on #185
BTW, I can totally do it in a PR.

[2020-10-28 16:52] sckott commented on #185
thanks, a PR would be great!

[2020-10-30 16:56] #185 closed

[2020-11-13 01:34] sckott commented on #26
does return Cassette class now,. clsoing

[2020-11-13 01:34] #26 closed

[2020-11-13 02:34] #176 closed

[2020-11-13 02:34] #163 closed

[2020-11-13 16:43] #29 closed

[2020-11-13 16:43] sckott commented on #29
no changes to the code for `update_content_length_header` - don't think any needed

[2020-11-13 16:45] sckott commented on #31
don't remember what was wrong here, closing until can figure out what was wrong

[2020-11-13 16:45] #31 closed

[2020-11-13 19:37] sckott commented on #41
fixes in 7c70eff

[2020-11-13 19:45] #41 closed

[2020-11-13 23:56] #69 closed

[2020-11-14 16:00] sckott opened #187 "Implement Compressed serializer"

[2020-11-14 16:21] sckott commented on #187
maybe use `zip` pkg, or maybe stick with `utils::zip`

[2020-11-14 17:30] sckott opened #188 "serializers: put in safeguards for changing/different serializers vs. whats on disk"
With new serializers, we need to make sure the one declared is the same as the cassettes being used (if any are present)

scenarios:

1. cassettes on disk - serializer chosen same as what's used in associated cassette(s)
2. cassettes on disk - serializer chosen different from what's used in associated cassette(s)
3. NO cassettes on disk - doesn't matter what serializer used

notes:
- different ser

[2020-11-15 05:45] sckott opened #189 "Serializer methods re-work?"
Seems that `deserialize_string` method in the JSON/YAML classes isn't used at all. If so, remove it and rename `deserialize_path`, which is used, to just `deserialize` (which will nicely match `serialize` - and match Ruby vcr)

[2020-11-16 09:03] maelle commented on #150
What httptest supports https://enpiar.com/r/httptest/articles/vignettes.html

[2020-11-16 09:17] maelle opened #190 "support looping through responses for the same request?"
Context: At the moment for faking some behavior of the server (e.g. an error, or simpler responses to decrease the fixture size) one needs to use webmockr.
This is not ideal as it's quite different from vcr.

One alternative is
* write your test and use_cassette() around the code calling the API.
* run the test
* edit the cassette by hand

It's quite handy IMHO.

Now, one thing that this workflow

[2020-11-16 09:29] maelle commented on #33
there's one for the book, but it is quite minimal.

[2020-11-16 09:30] #117 closed

[2020-11-16 09:33] maelle commented on #137
this will be documented in the book but it might be useful to mention in the docs here, maybe.

[2020-11-16 09:35] maelle commented on #56
Isn't this a duplicate of #97?

[2020-11-16 10:09] maelle opened #191 "provide a custom testthat skipper?"
that'd be `skip_if_vcr_off()`

[2020-11-16 16:19] sckott commented on #56
yeah

[2020-11-16 16:19] #56 closed

[2020-11-16 16:25] sckott commented on #191
the use case is if user has turned off vcr with env var and then want to make sure test won't run if vcr off?

[2020-11-16 16:28] maelle commented on #191
Yes because they'd be tests with an edited cassette for instance

[2020-11-16 16:31] sckott commented on #137
sounds good

[2020-11-16 16:47] sckott commented on #191
yeah, probably doable

[2020-11-16 16:48] sckott commented on #33
as long as you'll leave it up, then it sounds good

[2020-11-16 16:53] maelle commented on #191
I think I could even try and make a PR

[2020-11-16 19:49] sckott commented on #190
vcr has something that may address this already, see e.g., in the Ruby vcr docs https://relishapp.com/vcr/vcr/v/5-1-0/docs/request-matching/playback-repeats

and we have that arg in this pkg https://docs.ropensci.org/vcr/reference/use_cassette.html - I've not used it yet, so can't be 100% certain it works as intended, so would be good to try

[2020-11-17 02:13] sckott commented on #187
might bump to next milestone

[2020-11-17 02:18] #32 closed

[2020-11-17 02:34] #189 closed

[2020-11-17 06:56] maelle commented on #190
Oh actually the default behavior is the right one, awesome.

See the test of `gh_organizations()` in https://github.com/maelle/exemplighratia/pull/8, I think it fails once and then succeeds.

So I'm a bit undecided regarding what to encourage folks to use

* webmockr
* fake cassettes

Maybe the book should just mention both. webmockr allows more flexibility in how you define a sequence, but it's a

[2020-11-17 07:09] maelle opened #192 "Improve debugging experience"
From https://github.com/ropensci-books/http-testing/issues/51#issuecomment-728163070

* Should vcr switch back to creating a helper file instead of a setup file? Helper files in tests/testthat are no longer recommended but they are still supported and have the advantage of being loaded by `load_all()`. See https://deploy-preview-134--admiring-allen-9a00b2.netlify.app/2020/11/18/testthat-utility-be

[2020-11-17 08:06] maelle commented on #33
I sure want to live that repo up as long as the book is up :-)

[2020-11-17 08:48] maelle opened #196 "In the Get started vignette, make "Basic usage" show a testthat test?"
At the moment it shows usage outside of tests.

[2020-11-17 08:52] maelle opened #197 "Add an article or two for covering cassette management"
* When to delete a cassette and re-record it. (maybe in the debugging article? an out-of-date cassette is a common reason for test failure after all)

* how and why to edit your cassettes by hand or with a script with the `yaml` package
   * to test for error behavior without having to learn webmockr
   * to test for sequence of requests (e.g. 502 then 200) without having to learn webmockr
   * if

[2020-11-17 08:57] maelle opened #198 "shorter description for the top of the README"
Current text: "vcr helps you stub and replay your HTTP requests. The main use case is for unit tests for R packages. An R port of the Ruby gem vcr"

I propose "Record HTTP requests and responses on disk and replay them for the unit tests of your R package to make them independent from any connection, faster, and more complete. An R port of the Ruby gem vcr."

Not sure my proposal is better. I was

[2020-11-17 15:54] sckott commented on #196
good idea

[2020-11-17 15:57] sckott commented on #197
That sounds good.

[2020-11-17 16:04] sckott commented on #187
code so far:

[code]

[2020-11-17 16:10] #198 closed

[2020-11-17 16:12] sckott commented on #33
sounds good then

[2020-11-17 17:00] #137 closed

[2020-11-17 19:24] sckott commented on #190
of? do you mean the default value for `allow_playback_repeats` parameter?

[2020-11-17 19:36] maelle commented on #190
Yes, I didn't have to change anything

[2020-11-18 00:16] sckott commented on #188
Interesting. So Ruby vcr just treats a different serializer option with the same cassette name in the same directory to be a different thing, so creates a new cassette with the new extension.

So I guess no code changes but just document this

code i was playing around with for archiving sake

[code]

[2020-11-18 00:27] #188 closed

[2020-11-19 01:21] sckott commented on #192
The current vcr version on cran still has helper instead of setup https://github.com/ropensci/vcr/blob/v0.5.4/R/vcr_setup.R so at least users of the cran version won't notice any change if we revert back to helper here.

I think it does make sense to go back to helper

If we go back to helper do we still need the test_path fxn?

[2020-11-19 05:39] maelle commented on #192
Yes because the path in vcr_configure wouldn't work in both tests and from the root of the package

[2020-11-19 09:34] maelle commented on #58
Could vcr also try removing secrets from common places?

[2020-11-19 09:35] maelle commented on #182
related to #58 (fine if it is not a good idea, just noting it is a related topic)

[2020-11-19 11:55] maelle commented on #84
that's interesting, what's the status on this?

[2020-11-19 11:55] maelle commented on #82
this is a good alternative/complement to #182

[2020-11-19 12:01] maelle commented on #167
We actually closed #137 by adding docs, and reading this issue I am not sure it was related but I might be missing something.

In (small) packages where I have done vcr stuff with secrets

* I tweaked the vcr configuration as mentioned at the beginning of this thread
* I have these lines in a setup file

[code]

in order to fool the package (not vcr).

I'll go read the PR thread in qualtRics.

[2020-11-19 12:16] #115 closed

[2020-11-19 12:53] maelle commented on #197
added a section about deleting cassettes in the debugging vignette PR

[2020-11-19 12:54] maelle commented on #197
I will work on a vignette about editing cassettes by hand once #195 because the skipper is needed when you edit cassettes by hand.

[2020-11-19 16:03] sckott commented on #30
remove this config var - httr and crul automatically decompress - so no need for this

[2020-11-19 16:34] #30 closed

[2020-11-19 16:38] sckott commented on #182
I think i'll implement filtering of headers (`filter_headers`) - similar to what's in vcrpy https://vcrpy.readthedocs.io/en/latest/advanced.html#filter-information-from-http-headers and possibly other filter options, for body and query string

[2020-11-19 16:39] maelle commented on #182
Yay 🐍

[2020-11-19 16:51] sckott commented on #182
thanks for pinging that other related issue.

i don't' think i agree with the idea of removing potentially sensitive fields/data by default. but i think we should make it as easy as possible and document it well

[2020-11-19 17:47] maelle commented on #182
and having warnings would help not make mistakes (says someone who recently made a mistake :cold_sweat: )

[2020-11-19 17:55] sckott commented on #182
Right, we could throw warnings if we detect a potential sensitive string

[2020-11-19 19:03] sckott commented on #167
thxs @maelle

[2020-11-19 20:36] sckott commented on #84
timefuzz and clock are still in development - working for the most part BUT the problem is that monkey patching in R is not allowed, so to be able to mock time you'd have to import, or at least suggest, clock and maybe timefuzz too - some may not want to add additional imports just to mock time, but some will

[2020-11-19 20:37] sckott commented on #182
warnings in separate issue: #82

[2020-11-20 19:05] maelle commented on #84
Yeah I suppose that depending on the requests a package makes, mocking time might be crucial!

[2020-11-20 19:17] #191 closed

[2020-11-20 20:31] sckott commented on #197
ok, thanks

[2020-11-21 12:55] maelle commented on #158
new sighting https://github.com/rladies/meetupr/runs/1435609920?check_suite_focus=true
files https://github.com/rladies/meetupr/pull/84/files / the branch is "noninteractive"

[2020-11-21 15:37] maelle opened #200 "On OAuth and secret purging"
Cf https://github.com/rladies/meetupr/pull/84

My biggest fear with OAuth is that at the time of vcr configuration there is a token but what if it gets refreshed later whilst running the tests and recording? Then it is in my cassettes, not in my config.

So I would really like a way to say that what is supposed to be edited is the authorization header, that would not be a regular expression.

[2020-11-21 15:43] maelle commented on #200
It might be included in other issues about secret purging, but I wanted to report my experience in case it is relevant 🙂

[2020-11-21 16:50] sckott commented on #200
Even if a oauth token changes, as long as you use the same env var name to get the token then it should work.

I think the targeted specific header filtering will address this https://github.com/ropensci/vcr/issues/182#issuecomment-730494747

[2020-11-21 17:20] maelle commented on #200
The problem is that it can't be an environment variable, or at least isn't in the workflow I have seen.

Great reg targeted header filtering!

[2020-11-22 12:26] maelle commented on #200
Duplicate of #182

[2020-11-22 12:26] #200 closed

[2020-11-22 12:27] maelle commented on #182
is the header filtering on the milestone for next release? I think it'd be really great for developers of packages with OAuth (so, for me :joy: ).

[2020-11-22 14:05] maelle commented on #167
In the end I wasn't able to find out what the vcr/webmockr problem was here.

[2020-11-22 14:07] maelle commented on #150
with vcr I suppose it'd mean running `inject_cassette()` at the beginning of the vignette and `eject_cassette()` at the end.

[2020-11-24 02:29] sckott commented on #167
ugh, well thanks for trying

[2020-11-24 02:34] #196 closed

[2020-11-24 23:31] sckott commented on #150
yeah, that would work

[2020-11-24 23:33] sckott commented on #182
i'll put it on for next release milestone, but i haven't tried this yet, so don't know how long it will take

[2020-11-25 00:10] #192 closed

[2020-11-25 05:25] maelle commented on #182
Fingers crossed!

[2020-11-25 17:09] #197 closed

[2020-11-26 10:16] maelle commented on #190
I think this can be closed, it works and it's documented in https://docs.ropensci.org/vcr/articles/cassette-manual-editing.html#example-2-test-using-an-edited-cassette-with-a-503-then-a-200-1

[2020-11-26 10:16] #190 closed

[2020-11-26 15:29] Robsteranium commented on #24
I have a use case for the `insert_cassette` approach. I'd like to use it to power a [knitr chunk hook](https://yihui.org/knitr/hooks/#chunk-hooks) to record http actions in chunks. It's not immediately obvious to me how I'd achieve that with `use_cassette` alone.

You can make this pair of methods work by recreating what happens in `Cassette$call_block`:

[code]

In theory the webmockr toggles cou

[2020-11-27 09:52] maelle opened #203 "is there an alternative to preserve_exact_body_bytes for Windows?"
Asking because the cassettes are much less nice to look at in that case.

Editing them by hand would not be fun.

[2020-11-27 10:06] maelle commented on #203
I think that yes and it is using JSON as serializer?! so nice.

See https://github.com/maelle/vcrencoding/actions/runs/386840954

And then if I switch back to YAML I get the control character error (which is when YAML finds a ":" where it does not expect it) https://github.com/maelle/vcrencoding/runs/1463078832?check_suite_focus=true#step:9:204

[2020-11-27 12:48] maelle commented on #65
doesn't the current code force encoding?

[2020-11-27 12:49] maelle commented on #99
It seems so at least for my encoding problems. :-D

[2020-11-27 14:28] maelle commented on #158
I tried adding `URLencode()` at https://github.com/ropensci/vcr/blob/master/R/request_matcher_registry.R?rgh-link-date=2020-02-28T17%3A56%3A12Z#L48, it didn't work.

It'd be very nice to fix this. :thinking:

[2020-11-27 14:31] maelle commented on #158
Could it work to encode the uri at the time of serializing it to YAML?

[2020-11-27 14:39] maelle commented on #158
With JSON the failure is different.

[2020-11-27 15:00] maelle opened #205 "Could the JSON cassettes be prettier?"
I.e. with more new lines, to be as human readable as YAML cassettes are.

[2020-11-27 15:01] maelle commented on #205
oooh I see json_pretty. I suppose I disagree with the default? :thinking:

[2020-11-28 17:33] sckott commented on #182
- request headers:
    - remove headers from fixtures? yes
    - remove header values from fixtures? yes
    - put back header values in response? yes
- response headers:
    - remove headers from fixtures? yes
    - remove header values from fixtures? yes
    - put back header values in response? no

[2020-11-28 17:36] sckott commented on #205
i thought it made sense to not do pretty by default to save disk space - should compare files of various sizes with and without pretty

[2020-11-30 17:30] sckott commented on #65
Right, I guess we do force to utf-8 already when parsing the body. the example above from ruby vcr is used in a before record hook - see https://relishapp.com/vcr/vcr/v/5-1-0/docs/hooks/before-record-hook - hooks in vcr don't work yet. i'll close this issue and open a new issue to get hooks done

[2020-11-30 17:30] #65 closed

[2020-11-30 17:31] sckott opened #206 "Finish implementing hooks"
Ruby vcr https://relishapp.com/vcr/vcr/v/5-1-0/docs/hooks

- Before_record hook
- Before_playback hook
- Before_http_request hook
- After_http_request hook
- Around_http_request hook

[2020-11-30 17:38] sckott commented on #203
Hmm, JSON serializer isn't exactly an alternative to preserve bytes option. You can still use preserve bytes when using JSON serializer.

I think there's no error for windows when you use json serializer b/c you're avoiding using the yaml pkg, which i think causes that error.

[2020-11-30 17:44] sckott commented on #99
right. it'd be nice to have a better yaml pkg, but its easier here to just recommend people use json if they have any issue

[2020-11-30 18:26] #203 closed

[2020-11-30 19:09] maelle commented on #203
Oh yeah that is what I mean. I wanted no encoding error but human readable cassettes ☺

[2020-12-01 16:07] sckott commented on #205
i use sublime text editor and it has a jq plugin, so I can prettify a json file that way. does rstudio (I assume what most users using vcr will be using) have a way to prettify json?

[2020-12-01 16:08] sckott commented on #168
Sorry for delay on this, getting a new version out soon, then can look at this again

[2020-12-01 16:12] maelle commented on #205
you mean to save it in an ugly format but see it in a pretty way? Not that I know of.

[2020-12-01 16:16] sckott commented on #178
can not replicate this anymore.

[2020-12-01 16:16] #178 closed

[2020-12-01 22:25] sckott commented on #24
Thanks @Robsteranium - This is great. I think it'd be best if we toggle webmockr with insert/eject methods, i'll try that soon

[2020-12-01 23:19] #132 closed

[2020-12-02 17:10] sckott commented on #24
@Robsteranium When you get a chance, can you install `remotes::install_github("ropensci/vcr@rearrange-insert-eject-use")` and try again

[2020-12-02 19:02] #24 closed

[2020-12-03 17:43] sckott opened #208 "persisters: document how to use a custom persister"
notes:

- usage in ruby vcr https://github.com/vcr/vcr/search?q=persist_with
- vcr ruby persisters docs  https://relishapp.com/vcr/vcr/v/2-2-4/docs/cassettes/cassette-persistence
- a gem providing a custom persister https://github.com/everypolitician/vcr-archive
- vcr ruby only provides file system persistence, so also stick with only providing that by default
- a sqlite example would make most se

[2020-12-03 17:45] sckott commented on #66
Note: Test this with json serializer to see if its an issue with yaml pkg itself

[2020-12-05 12:40] Robsteranium commented on #24
I can confirm that this works for me too. Thanks!

[2020-12-07 16:30] sckott commented on #24
Great, glad it works

[2020-12-08 09:58] maelle opened #210 "could the docs folder be deleted?"

[2020-12-08 16:11] sckott commented on #210
yes, will do after merging my branch

[2020-12-08 16:58] #182 closed

[2020-12-08 16:59] #210 closed

[2020-12-14 12:56] maelle opened #212 "Add a filter helper for query?"
Like "Filter information from HTTP querystring" in vcpy

[2020-12-14 13:00] maelle commented on #212
From vcpy docs I also like the callback in case the built-in filtering isn't enough. :eyes:

[2020-12-14 13:46] maelle opened #213 "filter_request_header adds a header"
See  https://github.com/maelle/exemplighratia/pull/2/files

In https://github.com/maelle/exemplighratia/blob/vcrtest/tests/fixtures/gh_api_status.yml there is actually no Authorization header in the HTTP request made, but vcr's filtering adds it. I would have expected vcr to replace the header with the value when the header exists to begin with.

[2020-12-14 13:48] maelle opened #214 "should vcr::use_vcr() add a dependency on vcr current version"
I.e. right now it adds "vcr" under Suggests but shouldn't it add "vcr ( >= 0.6.0)" as dependency, or whatever the current version is?

[2020-12-14 16:11] sckott commented on #212
Yes, saw that, and for body as well.

[2020-12-14 16:51] maelle commented on #212
I want them all! 😁

[2020-12-14 19:52] dtm2451 commented on #150
Can I ask if there's been progress on this front?

I've been using vcr for testing my package, and it's been pretty easy, so thanks so much for a wonderful package!

I do think it would be helpful to add automated stubbing for vignettes without a need for too much extra code! `inject`/`eject` logic sounds good to (naive) me.

[2020-12-14 19:56] sckott commented on #214
Hmm, maybe. I guess it depends on the features of the pkg one is using, right?

[2020-12-14 19:56] sckott commented on #213
Hmm, not sure off the top. I guess it's a bit of an edge case in that I wouldn't expect a user to filter out a header they think they don't have. But, definitely should be fixed.

[2020-12-15 01:18] sckott commented on #150
Thanks for the bump @dtm2451 And thx for using the pkg.

In the [latest version on cran](https://docs.ropensci.org/vcr/news/index.html#vcr-0-6-0-2020-12-12), now the `insert_cassette()`/`eject_cassette()` workflow works, so you can start using vcr in your vignette by running `insert_cassette()` and then stop using it somewhere else with `eject_cassette()` - you could hide those in the output of th

[2020-12-15 01:45] dtm2451 commented on #150
Worked!  Simple to set up based off of the `vcr_configure()` code I already had in for testing, & I was able to knit my vignette with my internet connection turned off after running it once with my internet on =)

[2020-12-15 05:24] maelle commented on #213
Well the configuration is for all tests and you won't have the same headers in all requests so it might actually be quite common?

[2020-12-15 05:27] maelle commented on #214
Well there is `vcr::vcr_test_path()` used in the setup file and not available in previous versions

[2020-12-15 06:05] maelle commented on #150
Would you mind sharing a link to your package?

[2020-12-15 06:43] sckott commented on #150
Great, glad it works!

[2020-12-17 00:13] sckott commented on #214
Right, if use_vcr is adding vcr_test_path then yeah should have min v0.6. But I forget, are Suggests pkg versions respected when installing a pkg, running check?

[2020-12-17 09:44] maelle commented on #214
I would hope so 🤔

[2020-12-17 14:26] maelle commented on #145
General advice in the book https://books.ropensci.org/http-testing/contributor-friendliness.html

[2020-12-17 14:31] maelle commented on #74
Simulating a slow connection is easy with webfakes http://webfakes.r-lib.org/articles/how-to.html#how-do-i-simulate-a-slow-internet-connection-

What's not easy with webfakes is recording. But combining webfakes & vcr one could add the speed via webfakes https://github.com/r-lib/webfakes/issues/46

[2020-12-17 14:33] maelle commented on #206
what would one use them for? Editing cassettes, but what are other use cases?

[2020-12-17 16:06] #33 closed

[2020-12-17 19:38] sckott opened #218 "Support integration with webfakes to record requests/responses to disk"
https://github.com/r-lib/webfakes/issues/46

[2020-12-17 19:48] sckott commented on #206
If you go through to the Ruby vcr link, then click on each of the hook types, you can see some examples, e.g., https://relishapp.com/vcr/vcr/v/5-1-0/docs/hooks/before-record-hook

[2020-12-17 19:50] sckott commented on #74
Thanks, good point about webfakes

[2020-12-19 00:12] sckott opened #219 "bug in is_base64: strsplit() is failing on some strings"
use `useBytes=TRUE`

[2020-12-19 00:20] #219 closed

[2021-01-28 15:14] bretsw opened #220 "VCR tests fail with longurl::expand_urls()"
In a package I'm developing, tests for a function have been failing, and I traced the issue back to the source: `longurl::expand_urls()`

As an example of functionality, running `longurl::expand_urls("http://bit.ly/2SfWO3K", seconds=10)$expanded_url)` returns `"https://www.aect.org/about_us.php"`.

However, putting this inside a vcr test fails, and it's unclear to me why.

<details> <summary><stro

[2021-01-28 16:59] sckott commented on #220
thanks! i'll have a look

[2021-01-28 17:27] bretsw commented on #220
Thank you! I appreciate it

[2021-01-28 21:04] sckott commented on #220
i think i found the issue, need to do some more testing to make sure a fix doesn't break other thing

[2021-01-29 15:54] maelle opened #221 "filter_sensitive_data and secret in URL when URI is used for matching"

[2021-01-29 15:55] maelle commented on #221
cc @bretsw

[2021-01-29 15:57] maelle commented on #221
Problem: an API where the API key is passed as URL parameter.
It seems to me that vcr doesn't transform the URI before trying to match it URI in cassettes.

So
* in the vcr cassette the API key is replaced with "my sensitive data"
* but the URI provided in a request isn't. Consequences: no match is found in the cassette... and the URL is printed in the vcr error message, URL that contains the secr

[2021-01-29 15:59] maelle commented on #221
this doesn't explain why the tests pass on my machine though?!

[2021-01-29 16:04] maelle commented on #221
Example of a CI build whose artefacts contain a key (sharing now that the key has been made invalid)
https://github.com/bretsw/tidytags/actions/runs/518185227

[2021-01-29 16:07] maelle commented on #221
In the artefact testthat.Rout.fail

[code]

[2021-01-29 16:36] maelle commented on #221
@sckott note that the problem does not happen when there is no environment variable set by GitHub Action https://github.com/bretsw/tidytags/actions/runs/521323642 (this is a fork)

[2021-01-29 16:48] sckott commented on #221
The first thing that looks odd to me is that they exposed key has quotes around it, Why would it be in quotes?

[2021-01-29 16:52] maelle commented on #221
yeah weird

[2021-01-29 16:58] sckott commented on #221
@bretsw To deal with the quotes issue, did you store your opencage key with quotes around it in the Github secrets settings?

[2021-01-29 16:59] maelle commented on #221
in the log there was no quote

![image](https://user-images.githubusercontent.com/8360597/106304482-af729480-625b-11eb-92da-27f84ba549e6.png)

[2021-01-29 18:46] sckott commented on #220
i thought i had it fixed, but not working yet. problem is the redirects. we don't record the redirect for some reason

[2021-01-29 19:53] sckott commented on #220
`curl` only returns the final http request in a redirect chain.  - headers for all requests are returned, so that's part of what we'd need to construct complete request/response objects.

[code]

not clear to me how Ruby vcr records all requests in a redirect chain if it behaves the same way as above in R `curl` in only returning the final request

[2021-01-29 19:56] sckott commented on #220
We can record a redirect with httr or crul, but both error on the 2nd use of the cassette because the cassette only has 1 request/response - the final http request in the redirect chain - so subsequent `use_cassette` uses mismatch b/c first url is the bitly one  (`http://bit.ly/2SfWO3K`) - whereas what's on disk is the final url from the redirect (`https://www.aect.org/about_us.php`)

[code]

[cod

[2021-01-29 20:10] sckott commented on #220
to dos

- [ ] along the way, make sure to add tests specifically for redirects, with both httr and crul

[2021-02-04 11:23] bretsw commented on #221
I think this was likely the issue with the OpenCage key. I cleared out my GH secrets and the build seemed to work (at least for OpenCage). Still perhaps not great that a failed build exposed a secret, but helpful to narrow in on the problem

[2021-02-05 01:59] sckott commented on #221
Sorry for delay on this, have this on the to do list for tomorrow

[2021-02-05 12:29] bretsw commented on #221
No problem! Thanks for tackling

[2021-02-05 19:13] sckott commented on #221
I don't think this is a bug in vcr's request matching given that this only happened in one test - i'll keep looking of course, but I don't think it's a problem in vcr's matching

[2021-02-05 20:57] sckott commented on #221
I've been trying to replicate this problem with this dummy R package https://github.com/sckott/fizball - but have not been able to make a key be hidden in the logs but not hidden in the artifacts when there's a test failure

any ideas for what to try?

[2021-02-08 03:39] tomsing1 opened #222 "The `sensitive_remove` function interprets patterns as regular expressions"
https://github.com/ropensci/vcr/blob/13e4bc1ea8b4cc96aaaf89714a7b30301b0a725e/R/filter_sensitive_data.R#L13

I ran into the following error when I tried to hide a password via the `filter_sensitive_data` argument of the `vcr_configure` configure function:

[code]

It seems that the presence of the `{` character is throwing off R's `gsub` function within vcr's `sensitive_remove` function.

This rep

[2021-02-08 03:45] tomsing1 commented on #222
As a workaround, I am now escaping the strings specified in the `filter_sensitive_data` list, e.g.

[code]

Perhaps that's useful for others, in case you prefer not to add `fixed = TRUE` to the `gsub` calls....

[2021-02-09 00:55] sckott commented on #222
Thanks for reporting this. I'll have a look

[2021-02-10 13:31] maelle commented on #221
@sckott the tests/.Rout.fail contains the key https://github.com/maelle/fizball/actions/runs/554705151 :tada:

I saved it with quotes see below

![image](https://user-images.githubusercontent.com/8360597/107516377-9eefe180-6bac-11eb-94c8-0a737ac0160d.png)

[2021-02-10 13:57] maelle commented on #221
The whole recipe for failure is
* filter_sensitive_data with a secret that has been fed with quotes to GHA (it is an easy mistake to make)
* secret in URL
*
the failures are
* vcr can't recognize the URL for some reason
* the secret ends up in the artefact (with quotes but could still be scraped maybe)

[2021-02-10 17:43] sckott commented on #221
Thanks. I guess one approach is to strip any single or double quotes around a secret before using it - BUT it's possible that a user could have quotes in a secret; seems unlikely a secret would have quotes at beginning and end of the string though.

[2021-02-11 11:02] maelle commented on #221
one thing I don't understand is why vcr can't recognize the URL i.e. why it can't match when there are quotes? something with the string manipulation doesn't work in that case?

Your approach sounds good (removing when there are quotes at the beginning and at the end), but it'd be good to have a warning about the quotes being stripped, with some option to turn this warning off (to be used in the v

[2021-02-12 00:32] sckott commented on #222
@tomsing1 i've made the fix with `fixed=TRUE` - can you reinstall `remotes::install_github("ropensci/vcr")` and try again?

[2021-02-14 17:45] llrs opened #223 "Testing API calls to write into the database"
I come this other issue https://github.com/ropensci-books/http-testing/issues/84.

I would like to test that writing using the API works. So far I tested retrieving data from the API (of the R bug tracker), bu obviously I don't want to write superfluous issues as it is "on production".

What would be the best way to test it using vcr, but without writing to the database?

<details> <summary><stron

[2021-02-14 18:01] llrs opened #224 "vcr creates empy cassette"
I come here from https://github.com/ropensci-books/http-testing/issues/84.

If I have a function that calls a resource like this:

[code]

And I test it with:

[code]

Then it creates an [empty cassette](https://github.com/llrs/bugRzilla/blob/master/tests/fixtures/get_issue.yml). What would be the right way to test this? Or perhaps I need to configure something differently than from the default?

[2021-02-14 20:42] sckott commented on #224
thanks! vcr only supports `crul` and `httr`. that xml call uses `curl` under the hood, which is unlikely to ever be supported

https://github.com/r-lib/xml2/blob/master/R/xml_parse.R#L94
then
https://github.com/r-lib/xml2/blob/master/R/xml_parse.R#L109
then
https://github.com/r-lib/xml2/blob/master/R/paths.R#L9

[2021-02-14 20:54] sckott commented on #224
it would be helpful to have a warning or message in these cases, but i don't know yet if that's easy enough to do

[2021-02-14 21:07] tomsing1 commented on #222
Thanks a lot for looking into this so quickly @sckott !
I installed the latest version and can confirm that this fixes the issue I had.

*But* - and my apologies if this sounds like I am making things unnecessarily complicated - perhaps this change would break other users' setups?

For example, let's say somebody is actually taking advantage of the regex functionality right now, e.g. to remove a r

[2021-02-15 09:27] llrs commented on #224
Now I see your last comment, I'll reopen the issue then.
I was thinking if it would happen the same if I wanted to test something that reads from: `read.csv("https://myserver.org/myfile.csv")` and other base functions that allow to read from any connection.

About warning in those cases, perhaps vcr can check if it writes an empty (or just a blank line) cassette and if it does report it that no ca

[2021-02-15 10:26] llrs opened #225 "vcr writes empy cassettes if not run using Run Tests"
When I run (just Ctrl+return) a single `test_that` that makes use of `vcr::use_cassette` I get an empty cassette, while when I run it using the Rstudio Run Tests then they are recorded and the cassette has all the information of the requests and reply (Rstudio Version 1.4.1103).

Perhaps this is related to the [note](https://docs.ropensci.org/vcr/index.html#vcr-for-tests): "some users have found d

[2021-02-15 17:29] sckott commented on #224
yeah, you'd think we'd be able to support fxns that request data from a url like read.csv, etc. but since monkey patching in R is not allowed, we can't override code to be able to hijack a http request - we can only do it in httr and crul since they have a hook mechanism within those pkgs to allow the hijacking

Right, makes sense

[2021-02-15 17:30] sckott commented on #224
to do:

- see if it's possible to make a general purpose catcher for when someone uses use_cassette and is not using httr/crul
- if possible, implement a warning or error possibly

[2021-02-15 18:23] sckott commented on #225
Yes could be related to check vs. test.

What was done before that point? Did you run `devtooload::load_all()` or `pkgload::load_all()`? or something else?

[2021-02-15 18:25] sckott commented on #223
I'm a little confused here. What does "writing to the database" mean?  The database is local on your computer? Or there's a database behind the API referenced?

Most likely the answer is to use `webmockr`, but will wait for more details

[2021-02-15 18:52] llrs commented on #225
I did `devtools::load_all()` but just tested with `pkgload::load_all()`and it happens the same. If you need further testing let me know.

[2021-02-15 18:57] llrs commented on #223
Sorry :sweat: to write to a remote computer on the database behind the API referenced. The API given the right authentication allows to write/use `POST` to insert new records to the database behind it.

[2021-02-15 19:04] sckott commented on #223
Okay, thanks.

If you can write once to the API that accepts a POST request inside of a use_cassette code block, then you can from there on use that cassette created on that one call.

If you don't even want to one real request then you could construct a cassette from scratch - there's not really tools to do that in vcr, but you could just copy/paste then edit another cassette.

Or webmockr is an

[2021-02-15 19:15] llrs commented on #223
Great! I didn't know how to proceed from the book. Will report back there.
One again thanks!
In this case the API is R bugzilla, so I would rather avoid sending a mock issue. Will see how I manage copying/building a cassette.

[2021-02-15 19:15] #223 closed

[2021-02-15 20:03] sckott commented on #223
okay, hope something works out well

[2021-02-15 20:08] sckott commented on #221
It's `identical()` internally I think, so if if url doesn't match exactly, one has quotes and one does not, then there's no match.

Agree if we strip leading and trailing single/double quotes, then throw a warning about it

[2021-02-15 20:19] sckott commented on #222
Good point that it would break in a use case where someone wants to use regex to match a password that is not a fixed string. However, the only behavior I meant to support was the one where we use `gsub(..., fixed=TRUE)` - and so the code actually follows intended behavior now.

Having said that I guess I could see how it might be useful to use regex matching - but I'm not sure I can myself imagin

[2021-02-15 21:15] tomsing1 commented on #222
Thanks a lot for your quick reply. Great to hear that the `fixed` use case was what you had in mind.

The `"<<TOKEN>>" = '\\{"token":".*"\\}'` example is actually something I am using right now. It strips out any alphanumeric pattern preceded by the `token:` key. Not sure if I am the only one who thinks that's useful, though!

[2021-02-16 08:42] maelle commented on #221
yes sounds good

[2021-02-17 01:02] sckott commented on #225
What does your `vcr_configure()` have for the `dir` parameter? The new `use_vcr()` uses `dir = vcr::vcr_test_path("fixtures")` which should use the correct path whether or not you're in an interactive session or not.

Previous to that change, and which most of my pkgs are like now that use vcr, we had sugggested `dir = "../fixtures"` or `dir = "../fixtures/vcr_cassettes"` - which is a relative pat

[2021-02-17 07:53] llrs commented on #225
on setup-bugRzilla.R I have `vcr_dir <- vcr::vcr_test_path("fixtures")`.
If I restart the session without running the setup files end on the project directory (which is my working directory). However, if without running the setup file I run the test that uses use_cassette, the fixtures end in the tests/fixtures/ folder, also the empty ones.

[2021-02-18 21:40] sckott commented on #222
Okay, well 1 regex user suggests there's probably more users out there. I'm not sure yet how we'll do it, one of:

- a new `vcr_configure` parameter, e.g, `filter_sensitive_data_regex` so that we have `filter_sensitive_data` and `filter_sensitive_data_regex` where the former uses `fixed=TRUE` and the latter uses `fixed=FALSE`
- stick with one parameter (`filter_sensitive_data`) but change it to al

[2021-02-25 04:05] sckott commented on #220
@bretsw  Making progress now, work on branch `redirects`.

[2021-03-02 17:29] sckott opened #226 "vcr_configure: new param to quiet all messages"
e.g., `vcr_configure(..., quiet = TRUE)`

would quiet

- `CrulAdapter enabled`/`HttrAdapter enabled`, in webmockr
- `CrulAdapter disabled`/`HttrAdapter disabled`, in webmockr
- `ejecting casssette`, in vcr

[2021-03-02 22:05] sckott commented on #224
Hmm. There's not an easy way to do this. An example to look at is test_that that accepts a block of arbitrary R code. When you don't include an `expect_*` call, the whole block is skipped.

[code]

I think the best we can do probably is to look for an empty cassette, and warn/message about that and tell the user what could have gone wrong

[2021-03-02 23:26] #224 closed

[2021-03-02 23:28] sckott commented on #224
@llrs if you get a chance to test - reinstall from here and test [your example](https://github.com/ropensci/vcr/issues/224#issue-808011882) again

[2021-03-03 00:25] #226 closed

[2021-03-03 08:37] llrs commented on #224
I see that now the empty file is created but a warning is provided with instructions about how to prevent it. I still think it would be nicer if no file were created at all, but this is a nice compromise. Thanks for working on this so fast

[2021-03-03 17:10] sckott commented on #224
@llrs okay, reinstall and try again. empty cassettes now cleaned up - and warning is now configureable

[2021-03-03 19:59] sckott commented on #222
@tomsing1  Reinstall to get changes. I've added new config option `filter_sensitive_data_regex `. One final thing left is this:

With regex replacement, we can't put back the sensitive string unless we capture it and store it somewhere on disk if we want to be able to replace the real string between R sessions. This seems like an added security risk, but is it worth doing? Or do we just say if you

[2021-03-03 20:26] #213 closed

[2021-03-03 20:26] sckott commented on #213
@maelle fixed now

[2021-03-03 21:23] sckott commented on #214
We'll have to use the last version on CRAN for this. Will need to be updated manually as we don't want to have an http request to get the version that might fail

[2021-03-03 21:55] #214 closed

[2021-03-04 00:02] sckott commented on #221
okay, @bretsw @maelle just pushed a fix. Can you try again if you get a chance?

[2021-03-04 00:39] sckott commented on #225
#224 is fixed so this is less of a problem as at least users will know about an empty cassette now. though it would still be nice to fix this. Working on it

[2021-03-04 09:38] llrs commented on #224
Great! Many thanks this removes the need to commit empty files and clean them while still ensuring that the end user knows there is a problem. Thanks!!

[2021-03-04 19:42] sckott commented on #225
@llrs can you reinstall?  then try again. changed to using `here::here` instead of `file.path`, see commit message. Please do let me know if it works now

[2021-03-04 19:42] sckott commented on #225
@maelle when you get back from vacation can you test too?

[2021-03-05 20:02] dpprdan commented on #224
One example where having empty cassettes might make sense:
Consider two functions (or one function with different arguments) make the same web request but return the result differently, e.g. in different formats. Requests are cached with {memoise}, to prevent unnecessary requests.
I probably would not test two functions in one test and would therefore have two cassettes as well.
I could use the sa

[2021-03-05 20:09] sckott commented on #224
Interesting, thanks @dpprdan

Hmm, if memoise is used then does it make sense to use vcr?  So in the use case you're describing the cassette is always empty?

[2021-03-05 20:30] dpprdan commented on #224
For the initial request I think it does (and there are not that many identical requests in the tests). We only cache in the same R session.

The second cassette is, yes. The only potential problem I see ATM is that when we delete the first test/request, it is not cached before the second request anymore. Then the second cassette cannot be empty.

[2021-03-05 22:04] sckott commented on #224
Can I see the tests? Including which parts are memoized. I'm having a hard time understanding the steps involved

[2021-03-06 15:42] dpprdan commented on #224
Of course, they are in this PR: https://github.com/ropensci/opencage/pull/130.
For example there is a function call that outputs a [list of data.frames](https://github.com/ropensci/opencage/pull/130/files#diff-f6fadc06e67489dac8b34668e44ac23ac064d3949c07e9f27c736ad4d750e93bR29) and the same call that returns a [list of (JSON) lists](https://github.com/ropensci/opencage/pull/130/files#diff-f6fadc06

[2021-03-08 08:57] maelle commented on #221
It seems to have worked https://github.com/maelle/fizball/actions/runs/631706778

[2021-03-08 09:03] maelle commented on #225
This looks good

[2021-03-08 09:16] maelle commented on #212
Re-opening as I think https://github.com/ropensci/vcr/blob/master/man/rmdhunks/configuration-vignette.Rmd needs updating too :slightly_smiling_face:

[2021-03-08 09:16] maelle commented on #212
(I noticed as I wanted to send the link to the docs to someone :smile_cat: )

[2021-03-08 17:00] sckott commented on #221
thanks for testing

[2021-03-08 17:00] #221 closed

[2021-03-08 17:31] sckott commented on #212
thanks, will do @maelle

[2021-03-08 18:56] dpprdan commented on #226
@sckott since testthat 3e [does not suppress messages anymore](https://testthat.r-lib.org/articles/third-edition.html#messages), would it be a good idea to automatically set `quiet = TRUE` (or otherwise suppress vcr messages) if run with testthat 3e? Maybe testthat sets an appropriate envvar?

[2021-03-08 19:49] #212 closed

[2021-03-08 19:52] sckott commented on #212
@maelle updated docs https://docs.ropensci.org/vcr/articles/configuration.html#filter-query-parameters

[2021-03-08 20:03] sckott commented on #226
@dpprdan probably we can set to true - having a look

[2021-03-08 22:01] sckott commented on #226
@dpprdan okay, reinstall and try again, default=TRUE now

[2021-03-08 22:18] sckott commented on #224
Thanks. I'll have a look

[2021-03-08 22:57] sckott opened #227 "allow for duplicate cassette names"
via https://github.com/ropensci-books/http-testing/issues/88

[2021-03-08 23:17] dpprdan commented on #224
Maybe reusing cassettes is already enough in most cases?

[2021-03-08 23:33] sckott commented on #224
already enough for what?

[2021-03-09 08:35] maelle commented on #212
Thank you!

[2021-03-09 12:50] dpprdan commented on #224
Sorry, I meant enough to solve my use-case/problem. When I have an empty cassette, I get a warning. I can look for the cassette with the first request and re-use it for the second request as well (and delete the empty cassette I had for the second request). I'll have no empty cassettes and no warnings then. Problem (probably) solved.

How about I try this and report back if I encounter a problem?

[2021-03-09 15:46] sckott commented on #224
Okay, sounds good.

[2021-03-11 22:32] sckott commented on #205
I think we should keep this by default as `json_pretty=FALSE` for now, and consider changing if users want it changed. Sound good?

[2021-03-11 22:37] sckott commented on #158
Did this get sorted yet?

[2021-03-11 22:42] sckott commented on #165
Closing this. I think this is addressed adequately by current behavior. That is, a failure if a file is gone states in testthat errors where the error occurred (in which line of a test file) - I don't think we need to do a lot of work just to get the cassette name when the user can go to that line in the test file given by the testthat error.

[2021-03-11 22:42] #165 closed

[2021-03-11 22:43] sckott commented on #97
very unlikely to happen, too complicated, closing

[2021-03-11 22:43] #97 closed

[2021-03-11 22:44] sckott commented on #20
@maelle is this done anywhere yet?

[2021-03-11 22:46] sckott commented on #25
i think this is addressed in https://github.com/ropensci/vcr/issues/226

[2021-03-11 22:46] #25 closed

[2021-03-11 22:48] sckott commented on #118
not seen this in a while, closing

[2021-03-11 22:48] #118 closed

[2021-03-11 22:50] sckott commented on #110
Nobody has wanted more verbosity, so probably close soonish unless someone speaks up about wanting more verbosity

[2021-03-11 23:14] #227 closed

[2021-03-11 23:15] #225 closed

[2021-03-11 23:16] sckott commented on #222
bump @tomsing1

[2021-03-12 01:30] sckott commented on #220
I moved this to the next milestone since a) this is complicated, and b) its not done yet, and c) there's lots of issues in the current milestone that should be pushed.

b) major issue is the http response object is from the first chain in the redirect - NOT the last http response in the chain as it should be. I'm not sure how to fix this yet.

[2021-03-12 05:20] maelle commented on #20
Not that I know.

[2021-03-12 05:23] maelle commented on #205
Yes!

[2021-03-12 07:41] maelle commented on #158
I don't think so, do you need write access to https://github.com/maelle/vcrencoding?

[2021-03-12 15:29] bretsw commented on #220
Thanks @sckott! It's interesting how such a simple-seeming bug is turning out to be quite complicated to address. Thanks for sticking with this!

[2021-03-12 16:42] llrs commented on #225
Sorry forgot to test it. Now both ways create and delete the empty cassette.

[2021-03-12 17:28] sckott commented on #205
okay, thanks

[2021-03-12 17:28] #205 closed

[2021-03-12 17:28] sckott commented on #20
okay, i guess we can leave it open then

[2021-03-12 17:32] sckott commented on #220
It's an interesting one, thanks for opening the issue

[2021-03-12 17:53] tomsing1 commented on #222
Thanks for the bump - will get back to you as soon as I can!

[2021-03-14 22:12] tomsing1 commented on #222
I finally go to testing the updates you made, apologies for the delay.

## Trouble with changes introduced in commit 2e07d00
Initially, I installed the HEAD version (commit) - but that version doesn't record any cassettes on my system (Mac OS X), e.g. it does not create YAML files. More specifically, [this commit](https://github.com/ropensci/vcr/commit/2e07d00d8502e8c78b2a595c880de76094f97fd7) see

[2021-03-15 16:00] tomsing1 commented on #222
One more thing I just noticed (still working with commit 25c2bfc): I had to manually adjust the string in the YAML file, because the pattern was not saved as JSON - and that seems to break the parser:

I changed the line

[code]

to

[code]

to avoid the following error:

[code]

[2021-03-15 19:09] sckott commented on #222
Thanks for testing!

For `vcr::vcr_test_path`, I'll have a look - and please do open a new issue

[2021-03-15 19:09] sckott commented on #222
Great to hear that the filter params are working.

yes, sounds right

[2021-03-15 19:11] sckott commented on #222
For the string not saved as JSON, can you give more detail? What does the use_cassette call look like?

[2021-03-16 11:42] maelle opened #228 "Does vcr cache things somewhere?"
Weird behavior seen by @dpprdan and me

* Install vcr dev version
* Use https://github.com/maelle/exemplighratia/pull/2, run tests, then delete fixtures and turn off wifi, run tests: they still pass!

[2021-03-16 11:51] maelle commented on #228
@sckott the problem is due to https://github.com/ropensci/vcr/commit/2e07d00d8502e8c78b2a595c880de76094f97fd7

I see that if my package is under blablabla/ropensci/exemplighratia, the fixtures end up at blablabla/ropensci/fixtures

[2021-03-16 17:01] sckott commented on #228
thanks, will have a look

[2021-03-16 17:03] #228 closed

[2021-03-16 17:08] sckott commented on #222
no need, see #228

[2021-03-18 18:46] sckott opened #231 "Fix up `ignore_request`"
In ruby vcr https://relishapp.com/vcr/vcr/v/5-1-0/docs/configuration/ignore-request the `ignore_request` option takes a function/callback - whereas we have it setup to only except a uri to ignore.

fix this

[2021-03-18 19:45] sckott opened #232 "design vignette"
via https://github.com/ropensci-books/http-testing/issues/30

[2021-04-14 22:37] steffilazerte opened #234 "When writing cassettes, text/csv response objects are parsed"
I'm trying to use vcr to run tests offline for [weathercan](https://docs.ropensci.org/weathercan). My package often deals with  oddly formatted data which is first downloaded, then fixed, THEN parsed.

For some reason, when creating cassettes, vcr is parsing these text/csv response objects, creating warnings and messages as a result and then triggering a bunch of test failures (which expect silent

[2021-04-22 18:48] sckott commented on #234
thanks @steffilazerte ! will have a look in about a week and a half

[2021-05-03 23:28] sckott commented on #234
yep, running `library(vcr)` is required first

[2021-05-03 23:41] sckott commented on #234
that warning comes from the `readr` package. To record the response body, `vcr` needs to parse the http response. Done here https://github.com/ropensci/vcr/blob/master/R/request_handler-httr.R#L61 for `httr` .  I could suppress any warnings in the `content()` call, but I don't think that's a good idea. One could suppress warnings as needed themselves in tests I think

Alternatively, if you write t

[2021-05-04 14:29] steffilazerte commented on #234
Do you mean that I would change my code to save the GET request to disk, or that I could change vcr options to save it to disk? I don't want to change my code to that effect because it's not necessary and would only be an intermediate file.

I can suppress warnings in the tests of course, but then I suppress all warnings, not just potential parsing warnings which is a bit less ideal.

Does vcr rea

[2021-05-04 18:28] sckott commented on #234
I didn't mean to suggest you change your code, just explaining how it works.

In [this line](https://github.com/ropensci/vcr/blob/master/R/request_handler-httr.R#L61) we use `content()`, which under the hood parses different data types differently. my package `crul` does not do that, alternatively, you have to parse the data yourself from text - so its a different approach. I could potentially say

[2021-05-04 22:15] steffilazerte commented on #234
I see, looks like an automatic thing with httr! Only thing I can think of would be to pass an argument for specifying the "as" in httr::content through vcr, but that's probably more trouble than it's worth! This is something easier addressed on my end, thanks for looking into it! Feel free to close the issue :grin:

[2021-05-06 19:47] sckott commented on #234
Thanks for opening the issue. Agree, I think in this case it's more appropriate for the user to handle

[2021-05-06 19:47] #234 closed

[2021-05-21 20:52] #222 closed

[2021-05-21 20:54] sckott commented on #232
done

[2021-05-21 20:54] #232 closed

[2021-05-24 14:43] jsta opened #235 "CRAN message about broken reverse dependency checks"
Today's vcr update 1.0.0 has broken the checks of these.

All tests pass locally for me (running `devtools::test`) but fail running as part of `devtools::check`. The error I get is the same as CRAN:

I was able to pass check associated tests by removing the call to `vcr_test_path` in the autogenerated "setup" file and hardcoding the path to the fixtures directory.

[2021-05-24 14:54] jsta commented on #235
`dir = vcr::vcr_test_path("fixtures")` -> `dir = "../fixtures"`

[2021-05-24 15:33] sckott commented on #235
Thanks. Was going to send an email to people this morning. I did run revdep checks and didn't get any issues (and I don't personally use the function in my own http pkgs), but I should have emailed about this issue, sorry about that. Looking into it

[2021-05-24 17:10] dpprdan commented on #235
👋🏻 My PR #230 probably caused this. Sorry for the trouble this is causing!

I can reproduce with https://github.com/ropensci/opencage/tree/devel. `devtools::check()`/R CMD check apparently moves the test dir outside the pkg dir:

[code]

(`vcr_cassettes` is what is usually called `fixtures`)

I looking into ways how to catch this. Maybe `rprojroot::has_dir("tests")`?

[2021-05-24 17:51] dpprdan commented on #235
[Using `rprojroot::has_dir("tests")`](https://github.com/dpprdan/vcr/blob/2881b588fe3eabac2c7a371f199aaad407b7bddf/R/vcr_test_path.R#L19) in `vcr_test_path()` seems to work in general, i.e. both `devtools::test()` and `devtools::check()` run successfully with this change on https://github.com/ropensci/opencage/tree/devel.

However, since `has_dir()` is starting to look up the `tests` dir from `./t

[2021-05-24 18:00] sckott commented on #235
@dpprdan  Thanks for the quick response

@jsta can you try again after installing the change @dpprdan made above `remotes::install_github("dpprdan/vcr@2881b588fe3eabac2c7a371f199aaad407b7bddf")`

[2021-05-24 18:01] sckott commented on #235
(p.s. @dpprdan ultimately responsibility is with me as the lead maintainer, so no worries)

[2021-05-24 18:06] dpprdan commented on #235
Thanks! Still sucks though to have this go to CRAN and causing revdeps to fail. Apparently I didn't run R CMD check on opencage since #230 got merged (or I didn't install that change locally?) or else I would have caught it. Strange.

[2021-05-24 18:19] jsta commented on #235
That fork breaks both tests and check-tests for me with the following errors respectively:

[code]

[code]

[2021-05-24 18:20] jsta commented on #235
Works with that fork!

[2021-05-31 13:43] #235 closed

[2021-06-10 15:28] yogat3ch commented on #158
Hi @sckott & @maelle,
It looks like I'm also encountering this issue on a Windows 10 machine - it appears to be URIs initially sent as un-encoded URIs are URL encoded in the yml files. When a test is run again, `vcr` is not matching the un-encoded request URI with the URIs in the yml files that are encoded.
Do we need another reprex of this behavior or does @maelle's reprex work?

[2021-06-11 18:47] yogat3ch commented on #158
@sckott Ok, finally figured out how to make a reprex for this behavior:
[code]
It definitely has to do with the URL encoding because if `utils::URLdecode` is removed it works fine.

[2021-06-11 22:56] sckott commented on #158
thanks @yogat3ch will have another look at this

[2021-09-27 17:49] dpprdan opened #237 "Support {httr2}"
Now that [{httr2} is on CRAN](https://cloud.r-project.org/package=httr2) and supports [mocking](https://github.com/r-lib/httr2/pull/61), could {vcr} support it as well?

[2021-09-28 19:05] sckott commented on #237
That's the idea! To have support for it we need support for httr2 in webmockr as well as here. Any extra time to contribute to these changes?

[2021-10-01 14:34] dpprdan commented on #237
Unfortunately I don't. I am not familiar with the webmockr/vcr codebase, so I'd need a lot of extra time too, I'm afraid.

[2021-10-02 17:44] sckott commented on #237
Okay, no problem.  Will try to get to it soon unless someone else has time

[2021-10-21 21:20] llrs opened #238 "Valid request but not acceptable query"
When making a request such as `GET https://bugs.r-project.org/bugzilla/rest/user?ids=1&ids=2` or `https://bugs.r-project.org/bugzilla/rest/user/2` via httr it is accepted by httr but not properly recorded by vcr.

I think the problem is with the multiple query arguments with the same name, which `httr::modify_url` does not accept, but [this API uses](https://bugzilla.readthedocs.io/en/latest/api/c

[2021-10-30 14:32] sckott commented on #238
I don't understand how to get an API Key. Or how to sign up for the bugzilla service.

[2021-11-01 18:15] KevCaz opened #240 "Mismatch between request uri and recorded uri"
Hi @sckott , I just mentioned a problem I encountered while using `vcr` to @maelle, and she told me it was worth reporting. I think this is related to the problem reported by @llrs (https://github.com/ropensci/vcr/issues/238) but not 100% sure whether it is a duplicate.

Basically, when parameters of the get method include some reserved characters (don't know if this concerns all of them) they are

[2021-11-01 20:53] sckott commented on #240
thanks! I'll have a look

[2021-11-04 22:18] llrs commented on #238
Hi @sckott to sign up on R bugzilla you first need to send an email to: bug-report-request@r-project.org and then you will be able to create an account (See full instructions [here](https://www.r-project.org/bugs.html)).
Once you have your profile and you are logged you can go to to [your preferences](https://bugs.r-project.org/userprefs.cgi) and select API keys and create a new API key for bugs.r

[2021-11-09 11:56] maelle commented on #237
@sckott just wondering if you had any time to look into this? No worries if not, of course! (_I_ would not know how :grimacing:)

[2021-11-09 18:10] sckott commented on #237
not much yet unfortunately. i started a while back on webmockr https://github.com/ropensci/webmockr/compare/master...httr2 but nothing useable yet.

[2021-12-13 07:58] maelle opened #241 "GHA failures"
Not sure why yet

[2021-12-13 08:06] maelle opened #242 "vcr_test_path() might need an update"
Cc @adamhsparks @dpprdan

It seems tests sometimes are run in

[code]

So `tests_i386` not `tests`.

[2021-12-13 16:03] steffilazerte commented on #242
@maelle asked me to share my experiences with this problem here.

I've had the same problems with weathercan on winbuilder since June but wasn't sure why (I do use vcr but didn't realize it might be a vcr issue).

Windows devel worked fine (and still does), but not release nor old release. I eventually just ignored them and reported the rhub windows tests when submitting to CRAN in November  :swea

[2021-12-13 16:13] maelle commented on #242
@sckott I am starting to think that function was not such a good suggestion :grin:

I see rprojtools has `rprojroot::has_file_pattern()` but not `rprojroot::has_dir_pattern()`

[2021-12-13 20:46] sckott commented on #242
@maelle  that's to suggest what exactly? i see we use `rprojroot::has_dir`, but not sure the relationship to those other 2 functions

[2021-12-13 20:47] sckott commented on #241
@maelle  is this superseded by #242 ?

[2021-12-13 20:48] sckott commented on #242
thx for the deets @steffilazerte - and that error you showed is with using `vcr_test_path()`, correct?

[2021-12-14 07:16] maelle commented on #242
Well we try to find a directory called "tests" but it could be a directory with "tests" in its name e.g. "tests_i386". Now, we also want the exact match to have priority. :thinking:

[2021-12-14 07:17] maelle commented on #241
Not sure whether the failures are linked

[2021-12-14 14:51] sckott commented on #241
can you link to any of these failing

[2021-12-14 14:52] sckott commented on #242
Okay, thanks. Do we know how testthat handles this when the dir isn't exactly `tests`?

[2021-12-14 15:19] maelle commented on #242
testthat looks for the testthat folder I think? i.e. one level down compared to vcr

[2021-12-14 15:19] maelle commented on #241
https://github.com/ropensci/vcr/runs/4070341398?check_suite_focus=true

[2021-12-14 15:30] steffilazerte commented on #242
I use vcr_test_path("fixtures") in the setup file yes, but I honestly have no idea if that's related to the error.

[2021-12-14 18:53] sckott commented on #241
Thanks. Oh, i thought you were talking about errors caused by vcr in other repos.

[2021-12-17 16:30] sckott commented on #241
fixed now

[2021-12-17 16:30] #241 closed

[2021-12-17 17:15] maelle commented on #241
thanks a ton!

[2021-12-18 18:17] dpprdan commented on #242
(Sorry for the verbosity, just trying to dissect/document for me/posterity, should we have to return to this).

It seems to me that most problems we've had with `vcr_test_path()` so far can be rooted to false assumptions about which working dir the tests are performed in at a given time. Kirill sums up nicely when and where we want ({vcr}) files be found in the [rprojroot vignette](https://rprojro

[2021-12-20 09:12] dpprdan opened #244 "empty cassettes on interactive tests"
vcr creates empty cassettes on interactive tests, cf. #225

Steps to reproduce:

1. clone https://github.com/maelle/exemplighratia/ locally
2. checkout `vcrtest` branch
3. `devtools::load_all(".")`
4. open `tests/testthat/test-api-status.R` and run test locally (or just the `vcr::use_cassette(...)` bit).

This will give you the following:

[code]

AFAICT there are two things happening:

1. vcr tri

[2021-12-31 20:16] sckott commented on #244
Thanks! I'll have a look

[2022-01-03 19:57] dpprdan commented on #162
tinytest stores/expects `test_*.R` files in [`inst/tinytest`](https://github.com/markvanderloo/tinytest/tree/master/pkg#package-setup), rather than `tests/tinytest`, so at the very least we'd have to adapt `vcr_test_path()` to that (assuming that tinytest also sets the working dir to `inst/tinytest` during tests).

[2022-01-11 15:11] sckott commented on #244
Looked at this.

I think I hadn't run into this b/c most (all?) of my pkgs that use vcr have a `helper-*.R` file instead of `setup-*.R` - which is loaded during load_all

As far as i can tell there's sort of two options

1. with `setup-*.R` on interactive tests make sure to load vcr before running any tests that use vcr (that works for me, does it work for you?)
    - caveat: cassettes will need t

[2022-01-13 09:44] maelle commented on #244
I also think that's the only difference between the two. https://blog.r-hub.io/2020/11/18/testthat-utility-belt/

[2022-02-22 14:51] #242 closed

[2022-03-09 01:24] KevCaz commented on #240
Hi @sckott, thanks for the update. I could also try to  do a PR for this....

[2022-03-09 19:15] sckott commented on #240
A PR is your best bet for sure - and I can help as well with the PR

[2022-06-13 15:50] sckott opened #245 "Fix encoding issues [critical]"
see email from Tomas Kalibera

[2022-07-14 18:42] d-sci opened #246 "Support async requests from crul"
I wanted to test my `crul` code that uses `Async`, but it doesn't seem to be supported. Minimal reprex below:

[code]

<details> <summary><strong>Session Info</strong></summary>

[code]

[2022-07-15 16:16] sckott commented on #246
hi @d-sci thanks for the issue. Unfortunately, vcr does not support async (related https://github.com/ropensci/crul/issues/78)

All my R pkgs are now hobby projects, so your best bet for this happening is to submit a pull request. If you're interested, here's where the hook is in crul for non async https://github.com/ropensci/crul/blob/main/R/client.R#L511-L517 - I think I played with async suppor

[2022-08-09 13:56] #240 closed

[2022-09-16 14:17] maksymiuks opened #248 "vcr not compatible with tools::testInstalledPackage"
Hi,

recently I've found out that packages using `vcr` configuration for tests, cannot be tested using `tools::testInstalledPackage` if the value of the `outDir` does not target the package's source. The problems come to from the `vcr_test_path` function, in  particular  call to the `rprojroot::find_testthat_root_file` function here https://github.com/ropensci/vcr/blob/003adc25a24ffc4eb312e5046c79

[2022-09-16 19:10] sckott commented on #248
Thanks for pointing this out @maksymiuks

@maelle @dpprdan looping you two in since you were involved with this fxn. What do you think of the proposal?

[2022-09-17 16:49] dpprdan commented on #248
Thanks for reporting @maksymiuks!

(Please add a reproducible example the next time you submit an issue or state why it is not possible to provide one. A reproducible example helps us tremendously zooming in on the problem.).

`vcr_test_path()` [assumes that you are using testthat](https://docs.ropensci.org/vcr/reference/vcr_test_path.html#note) and that tests are located in the `tests/testthat` d

[2022-09-19 10:24] maksymiuks commented on #248
Thanks for the comprehensive answer!

Now I see why I could've prepared an example package to illustrate my issue. All you said is 100% right however it was not my point. You are mentioning the situation when tests could not be installed and thus `testInstalledPackage()` which is obviously expected and thoroughly presented by you. What  I wanted to do is to emphasize a problem where the package wa

[2022-09-26 08:33] dpprdan commented on #248
That's up to @sckott

[2022-10-01 04:57] sckott commented on #248
Thanks so much @dpprdan for your detailed help here.

Sorry for the delay. This is the milestone lined up for the next cran version https://github.com/ropensci/vcr/milestone/8

The hardest bit is #245 - although it lacks details, it's a huge PITA related to an upcoming R version, trying to track down encoding issues. I just haven't had time to deal with it. I don't know when I'll push the next one

[2022-11-06 19:50] llrs commented on #245
There was a new release a couple of days ago (2022-11-04). Is this issue fixed (whatever it was) ?

I'm exploring the issues of vcr because at the moment I am experiencing an error in the tests of rtweet which seems to come from vcr latest update.

[2022-11-06 20:04] sckott commented on #245
no, not fixed. cran emailed again about that docs html update thing and I had to submit a new version for that.

ive got very little time to work on this, and it's super hard to figure out whats going on. if memory serves, the solution I want to go with is moving everyone to use JSON for serialization to disk because the error I think is coming from the yaml pkg which has a lot of problems.

[2022-11-06 20:38] KevCaz commented on #245
FWIW, I have some errors with rcites that seem related (I can give you more details if relevant) I am now using `serialize_with = "json"` in `vcr::vcr_configure()`, I'll report back here if it fixes the issue with the CRAN.

[2022-11-06 21:16] KevCaz commented on #245
It was a separate issue, sorry, it looks like there is something wrong with cassettes that have a 401 error code. Will investigate further, but I will still opt for json over yaml.

[2022-11-06 21:54] sckott commented on #245
Thanks @KevCaz ! Let me know about the 401 thing.

There's definitely a few issues:

1. One is related to base64. I moved to using an explicit string in cassettes called `base64_string`  when you specify `preserve_exact_body_bytes = TRUE` - but somehow forgot to account for existing cassettes that have the old string `string` in their cassettes (which held both base64 and non-base64 encoded string

[2022-11-06 22:20] KevCaz commented on #245
Cannot help with 1. but for 2. the function seems to work properly for me (locally).

[2022-11-06 22:48] KevCaz opened #249 "Error thrown for cassettes that have an empty body"
Hi @sckott,

It looks like there is something wrong with cassettes that have a status code that is not 200. I only tried 401 and 404 so not sure about the other codes. (EDIT: @dpprdan pointed out that this is true for cassettes that have an empty body) Here is a reprex:

[code]

The first time `devtools::test()` is used, it works fine, the cassette is recorded correctly. But the second time I get

[2022-11-07 00:16] jimrothstein commented on #162
@sckott
Be happy to work on tinytest::  testing.    Also have worked with httr:: and httr2::
Will fork clone and  use the branch already setup https://github.com/ropensci/vcr/compare/tinytest

jim

[2022-11-07 00:27] sckott commented on #162
thanks @jimrothstein ! sounds great

[2022-11-07 07:09] maelle opened #251 "CRAN check problem for at least two packages"
https://cran.r-project.org/web/checks/check_results_nasapower.html

[2022-11-07 07:12] maelle commented on #251
https://cran.r-project.org/web/checks/check_results_rtweet.html

[2022-11-07 07:49] llrs commented on #251
rtweet has the same error than reported in #349. So, I think the problem might be more general than just two packages and might be fixed with a new update to vcr in CRAN

[2022-11-07 08:19] maelle commented on #251
On GitHub Actions and locally there's a vcr failure for nasapower tests that do not use vcr https://github.com/ropensci/nasapower/actions/runs/3398663485/jobs/5651901782

See also https://github.com/ropensci/nasapower/pull/73#issuecomment-1305210144

[2022-11-07 12:34] dpprdan commented on #249
This is a regression in v1.1.0. The error does not happen in v1.0.2.

AFAICT the error occurs on all requests/responses that have an empty `body`, not only `status_code != 200`. (Change all 401 in above example to 200 and it also errors. The same happens if you try to use `crul::ok("https://www.google.com")` in a cassette.)

The error happens here
https://github.com/ropensci/vcr/blob/e4a52cb841e02

[2022-11-07 13:48] llrs commented on #249
I think those initial lines in `http_interation_list` are the ones causing the problem but I don't think the fix is to add `if (is.null(x)) x <- "" ` line as this line still exists https://github.com/ropensci/vcr/blob/master/R/request_class.R#L157 .

[2022-11-07 14:21] KevCaz commented on #251
Same error in rcites and rmangal.

[2022-11-07 14:22] KevCaz commented on #249
@dpprdan, I'm changing the tittle accordingly.

[2022-11-07 14:26] dpprdan commented on #249
Sorry, with "missing" I meant that they are not called now. The fix is to change
https://github.com/ropensci/vcr/blob/e4a52cb841e020405a7f175c9205f757d0a32ebe/R/response_class.R#L150
back to
`body_from(hash[["body"]])`

You may have to scroll up a few lines to see the change I mean.

[2022-11-07 20:24] sckott commented on #251
Thanks @maelle ! I'm aware of the situation. Various issues to fix - already getting help from folks

[2022-11-08 15:39] llrs commented on #249
I created #252 with the fix you mentioned @dpprdan, in my computer it solved all the issues, but as I don't know why it was commented in the first place I think it would be wise to check well the implications of the change.

[2022-11-08 17:03] sckott commented on #249
Thanks for this issue @KevCaz - and @dpprdan for the troubleshooting and @llrs for the PR (I'll have a look at that) - I'll do my best to remember why I made that change.

[2022-11-08 17:04] dpprdan commented on #249
Something something encoding 😉

[2022-11-08 19:24] llrs commented on #249
Thanks to you @sckott for the package! It has prevented many more troubles than caused them!

[2022-11-08 21:09] sckott commented on #245
@KevCaz glad the c++ fxn is not causing issues for you. i'm replacing it anyway, just cause its easy enough to do with pure R, and no reason to require compilation for such a trivial use case.

[2022-11-08 21:36] sckott opened #253 "move master to main"

[2022-11-08 21:39] sckott commented on #248
I think we're all set here? can this be closed?

[2022-11-08 21:40] sckott commented on #246
closing, but we can reopen if someone wants to tackle this

[2022-11-08 21:41] sckott commented on #244
Can someone refresh my memory on this? What's the next step here, if any?

[2022-11-10 07:34] jimrothstein commented on #162
@sckott
Ok, on my end deleted fork and started again.
When I pushed, got referenced here "c648c0a", which should be correct code.  But I don't see way to create new PR.

[2022-11-10 09:42] jhnwllr commented on #251
rgbif is still having problems
https://cran.r-project.org/web/checks/check_results_rgbif.html

[2022-11-10 11:48] llrs commented on #251
@jhnwllr the issue is not fixed in CRAN yet. Until the fix in vcr is in CRAN or we modify our packages, they will continue failing. Could you check that #252 solves the problem in your local computer ? If it does it is "just" a matter of time to get it merged and in CRAN to prevent this problems

[2022-11-10 13:45] dpprdan commented on #244
I'd recommend the `helper-*` approach, because AFAICT that is the only one that automatically loads the vcr setup when developing/testing interactively (which I'd want as a developer) and does not load vcr when using a package (which I wouldn't want).

If you agree, there are two things to do:

1. change `use_vcr()` so that it creates a `helper-vcr.R` instead of `setup-vcr.R`
2. Update all documen

[2022-11-10 17:50] maelle commented on #244
Yeah when I recommended using setup I had misunderstood recommendations. :see_no_evil: https://blog.r-hub.io/2020/11/18/testthat-utility-belt/#code-called-in-your-tests

[2022-11-10 19:17] sckott commented on #244
Thanks @dpprdan - Yeah, lets change to `helper-vcr.R` - that'd be great if you could draft PRs

[2022-11-10 19:49] sckott opened #255 "Overview of fixes for upcoming v1.2"
So that we have a single place to go to discuss what's needed to submit a fixed version of vcr to cran:

- [x] Remove c++ string splitting function. I know this wasn't a problem for everyone but caused issues in some places, and figured nice to remove it since its a simple case and nice to not require compliation - on the terribly named branch `various-fixes`. **This is done, on master now**
- [x]

[2022-11-11 07:11] maelle commented on #255
https://usethis.r-lib.org/reference/git-default-branch.html

[2022-11-11 10:43] jimrothstein commented on #162
@sckott
working just locally, writing  **`tinytest** functions  roughly equivalent to **`testthat`** functions  ( so far for `test_Filesystem.R` and `test_Cassette.R`)   When I have couple more files  tested will try again to push.

[2022-11-12 14:53] #249 closed

[2022-11-12 18:58] sckott commented on #255
@dpprdan @maelle @llrs @KevCaz

we're on main now

can you test vcr on main with any packages you have that use vcr? let me know if any issues

[2022-11-12 19:55] dpprdan commented on #244
Just found this https://github.com/r-lib/testthat/pull/1626

1. gotta love Jenny's commit messages/PR titles
2. Seems like Hadley agrees with us now.

[2022-11-12 20:08] KevCaz commented on #255
@sckott looks like there is still an issue with token (one test I use in rcites), here is a reprex with the latest commit:

[code]

I get

[2022-11-12 20:28] dpprdan commented on #244
`use_vcr()` creates a `setup-pkgname.R` (as [documented here](https://github.com/ropensci/vcr/blob/4579c52b5113009b2272b9316c63adfbf02261c0/man/rmdhunks/cassette-names.Rmd#L21), where `pkgname` is the name of the package using vcr) whereas some of the documentation refers to `setup-vcr.R`.

I think I would like to change this all to `helper-vcr.R`, because that makes "This file contains the vcr se

[2022-11-12 20:56] sckott commented on #253
thanks @llrs

[2022-11-12 20:56] #253 closed

[2022-11-13 05:53] sckott commented on #255
thanks @KevCaz - not sure what's going on there, taking a look

[2022-11-13 10:03] llrs commented on #255
On rtweet vcr worked as expected without problems.
Somewhat related, I also changed the configuration to use .json instead of the default .yml for the fixtures #245. Will this be the way forward?

[2022-11-13 21:27] sckott commented on #255
thanks @llrs - yes, I think json is the way forward. json is not as easy to read (you have to prettify it first) - but other than that going with json i think is the way to go

[2022-11-13 21:30] juliasilge commented on #255
The qualtRics package is [also impacted](https://cran.r-project.org/web/checks/check_results_qualtRics.html) by the recent vcr changes. I just installed the current GitHub version of vcr via `devtools::install_github("ropensci/vcr")` and currently what I see on checking is:

[code]

Let me know if there is anything else I should do or try.